@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="bg-white">
    <p class="text-center text-warning pt-5">
        Binet Accounting Software is complete Accounting Software
    </p>
    <div class=" d-flex algin-items-center justify-content-center">
        <div class="container row mt-lg-5  ">
            <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center">
                <div class=" d-flex flex-lg-row flex-row-reverse ">
                    <div>
                        <div><p class="textcolor text-lg-end text-end fw-bold mb-0 me-2">Financial Reporting</p></div>
                        <div><p class=" text-wrap justifytext ">We offer customizable reports, including balance sheets, profit and loss statements, and cash flow statements. Our reporting tools allow users to generate detailed insights with various filters and criteria to better understand their financial health</p></div>
                    </div>
                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-gears"></i></div></div>
                </div>
                <div class=" d-flex flex-lg-row flex-row-reverse">
                    <div>
                        <div><p class="textcolor  text-lg-end text-end fw-bold mb-0 me-2">Automated Expense Tracking</p></div>
                        <div><p class=" text-wrap justifytext">We provide seamless expense tracking by integrating with bank accounts and credit cards. Users can automatically categorize expenses, upload receipts, and manage spending effortlessly, ensuring accurate and up-to-date financial records.</p></div>
                    </div>
                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-rotate"></i></div></div>
                </div>
                <div class=" d-flex flex-lg-row flex-row-reverse">
                    <div>
                        <div><p class="textcolor text-lg-end text-end fw-bold mb-0 me-2">Efficient Invoicing and Billing</p></div>
                        <div>
                            <p class=" text-wrap justifytext">
                                We simplify the invoicing process with tools for creating professional invoices, automating billing cycles, and sending payment reminders. Our app supports multiple currencies and payment gateways, making it easy to handle international transactions.

                            </p>
                        </div>
                    </div>
                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-regular fa-clock"></i></div></div>
                </div>
            </div>
            <div class="col-lg-4 col-12 align-items-center justify-content-center d-flex flex-column  ">
                <img src="/mobileimage/Accounting.webp" class="coverimage" style="width:100%;" alt="Alternate Text" />
                <div class="d-flex justify-content-center align-items-center ">
                    <a asp-action="Invest" asp-route-id="4" class=" py-1 mt-5 my-5 px-5 fs-5 investbuttoninv">
                        Explore
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center">
                <div class=" d-flex flex-row-reverse">
                    <div>
                        <div><p class="textcolor fw-bold mb-0 me-2">Real-Time Bank Reconciliation</p></div>
                        <div><p class=" text-wrap justifytext">We streamline the bank reconciliation process with real-time syncing of bank transactions. Any discrepancies are automatically highlighted, allowing for quick resolution and ensuring accuracy in your financial records.</p></div>
                    </div>
                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-warehouse"></i></div></div>
                </div>
                <div class=" d-flex flex-row-reverse">
                    <div>
                        <div><p class="textcolor  fw-bold mb-0 me-2">Comprehensive Inventory Management</p></div>
                        <div><p class=" text-wrap justifytext">We offer robust inventory management features, including tracking stock levels, managing multiple locations, and generating detailed inventory reports. Users can also efficiently handle orders and supplier information through our app.</p></div>
                    </div>
                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-box-open"></i></div></div>
                </div>
                <div class=" d-flex  flex-row-reverse">
                    <div>
                        <div><p class="textcolor  fw-bold mb-0 me-2">Collaborative Workspace</p></div>
                        <div><p class=" text-wrap justifytext">We provide a collaborative environment where multiple users can access and work on financial data simultaneously. Roles and permissions can be customized, allowing team members to collaborate effectively while maintaining control over sensitive information.</p></div>
                    </div>
                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-money-bill-trend-up"></i></div></div>
                </div>
            </div>

        </div>

    </div>



</div>