@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="bg-white">
    <p class="text-center text-warning pt-5">
        Federation of Nepal Gold and Silver Dealers Association Software
    </p>
    <div class=" d-flex algin-items-center justify-content-center">
        <div class="container row mt-lg-5  ">
            <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center">
                <div class=" d-flex flex-lg-row flex-row-reverse ">
                    <div>

                        <div><p class="textcolor text-lg-end text-end fw-bold mb-0 me-2">Centralized Member Management</p></div>
                        <div>
                            <p class=" text-wrap justifytext ">
                                The software centralizes member data management, allowing the Federation to efficiently oversee and update information across all member districts, ensuring accuracy and consistency.

                            </p>
                        </div>
                    </div>
                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-gears"></i></div></div>
                </div>
                <div class=" d-flex flex-lg-row flex-row-reverse">
                    <div>
                        <div><p class="textcolor  text-lg-end text-end fw-bold mb-0 me-2">Enhanced Communication and Collaboration</p></div>
                        <div>
                            <p class=" text-wrap justifytext">
                                It streamlines communication between the Federation and member districts, facilitating the distribution of important updates, policies, and notices, fostering better collaboration and information flow.
                            </p>
                        </div>
                    </div>
                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-rotate"></i></div></div>
                </div>
                <div class=" d-flex flex-lg-row flex-row-reverse">
                    <div>
                        <div><p class="textcolor text-lg-end text-end fw-bold mb-0 me-2">Automated Administrative Processes</p></div>
                        <div>
                            <p class=" text-wrap justifytext">
                                By automating administrative tasks such as membership renewals and fee collections, the software reduces manual workload and errors, enabling both the Federation and districts to focus on more strategic tasks.
                            </p>
                        </div>
                    </div>
                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-regular fa-clock"></i></div></div>
                </div>
            </div>
            <div class="col-lg-4 col-12 align-items-center justify-content-center d-flex flex-column ">
                <img src="/mobileimage/fenegosida.webp" class="coverimage" style="width:100%;" alt="Alternate Text" />
                <div class="d-flex justify-content-center align-items-center ">
                    <a asp-action="Invest" asp-route-id="2" class=" py-1 mt-5 my-5 px-5 fs-5 investbuttoninv">
                        Explore
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center">
                <div class=" d-flex flex-row-reverse">
                    <div>
                        <div><p class="textcolor fw-bold mb-0 me-2">Real-Time Gold Rate Updates</p></div>
                        <div><p class=" text-wrap justifytext">The system provides direct, real-time updates on gold rates to all members via the mobile app, ensuring they have access to the latest market information to make informed decisions.</p></div>
                    </div>
                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-warehouse"></i></div></div>
                </div>
                <div class=" d-flex flex-row-reverse">
                    <div>
                        <div><p class="textcolor  fw-bold mb-0 me-2">Notice Publishing and Alerts</p></div>
                        <div>
                            <p class=" text-wrap justifytext">
                                The Federation can publish important notices and updates directly through the mobile app, ensuring that all members receive timely information about critical changes, events, or alerts.

                            </p>
                        </div>
                    </div>
                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-box-open"></i></div></div>
                </div>
                <div class=" d-flex  flex-row-reverse">
                    <div>
                        <div><p class="textcolor  fw-bold mb-0 me-2">Comprehensive Reporting and Analytics</p></div>
                        <div><p class=" text-wrap justifytext">The software offers robust reporting and analytics tools, allowing the Federation to monitor performance across districts, track trends, and make data-driven decisions to enhance overall efficiency and member support.</p></div>
                    </div>
                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-money-bill-trend-up"></i></div></div>
                </div>
            </div>

        </div>

    </div>



</div>