@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="bg-white">
    <p class="text-center text-warning pt-5">
        Nepal mart is complete solution for Agricultural Product management .
    </p>
    <div class=" d-flex algin-items-center justify-content-center">
        <div class="container row mt-lg-5  ">
            <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center">
                <div class=" d-flex flex-lg-row flex-row-reverse ">
                    <div>
                        <div><p class="textcolor text-lg-end text-end fw-bold mb-0 me-2">Streamlined Inventory Management</p></div>
                        <div>
                            <p class=" text-wrap justifytext ">
                                Farmers can easily track their stock levels, monitor product expiration dates, and manage their supplies efficiently. This reduces waste and ensures that they always have the necessary resources on hand.
                            </p>
                        </div>
                    </div>
                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-gears"></i></div></div>
                </div>
                <div class=" d-flex flex-lg-row flex-row-reverse">
                    <div>
                        <div><p class="textcolor  text-lg-end text-end fw-bold mb-0 me-2">Direct Access to Markets</p></div>
                        <div>
                            <p class=" text-wrap justifytext">
                                The e-commerce platform allows farmers to sell their produce directly to consumers, bypassing middlemen. This increases their profit margins and provides them with a broader market reach.
                            </p>
                        </div>
                    </div>
                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-rotate"></i></div></div>
                </div>
                <div class=" d-flex flex-lg-row flex-row-reverse">
                    <div>
                        <div><p class="textcolor text-lg-end text-end fw-bold mb-0 me-2">Data-Driven Decision Making</p></div>
                        <div><p class=" text-wrap justifytext">The system provides farmers with real-time data on market trends, demand, and pricing. This empowers them to make informed decisions about what to produce and when to sell, optimizing their income.</p></div>
                    </div>
                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-regular fa-clock"></i></div></div>
                </div>
            </div>
            <div class="col-lg-4 col-12 align-items-center justify-content-center d-flex flex-column  ">
                <img src="/mobileimage/mart.png" class="coverimage" style="width:100%;" alt="Alternate Text" />
                <div class="d-flex justify-content-center align-items-center ">
                    <a asp-action="Invest" asp-route-id="1" class=" py-1 mt-5 my-5 px-5 fs-5 investbuttoninv">
                        Explore
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center">
                <div class=" d-flex flex-row-reverse">
                    <div>
                        <div><p class="textcolor fw-bold mb-0 me-2">Scalable Business Model</p></div>
                        <div>
                            <p class=" text-wrap justifytext">
                                The system is designed to accommodate growth, making it an attractive investment. As more farmers and consumers join the platform, the potential for revenue increases significantly.
                            </p>
                        </div>
                    </div>
                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-warehouse"></i></div></div>
                </div>
                <div class=" d-flex flex-row-reverse">
                    <div>
                        <div><p class="textcolor  fw-bold mb-0 me-2">Technological Innovation</p></div>
                        <div>
                            <p class=" text-wrap justifytext">
                                Investing in this system positions you at the forefront of agricultural technology, a sector that is increasingly gaining attention and importance. This can lead to substantial returns as the industry evolves.
                            </p>
                        </div>
                    </div>
                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-box-open"></i></div></div>
                </div>
                <div class=" d-flex  flex-row-reverse">
                    <div>
                        <div><p class="textcolor  fw-bold mb-0 me-2">Sustainable Impact</p></div>
                        <div><p class=" text-wrap justifytext">Supporting this system promotes sustainable farming practices and enhances food security, aligning with global trends toward sustainability. This not only drives profitability but also contributes to positive social and environmental outcomes.</p></div>
                    </div>
                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-money-bill-trend-up"></i></div></div>
                </div>
            </div>

        </div>

    </div>



</div>