@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="bg-white">
    <p class="text-center text-warning pt-5">
        Numerology is Future prediciton App.
    </p>
    <div class=" d-flex algin-items-center justify-content-center">
        <div class="container row mt-lg-5  ">
            <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center">
                <div class=" d-flex flex-lg-row flex-row-reverse ">
                    <div>
                        <div><p class="textcolor text-lg-end text-end fw-bold mb-0 me-2">Data-Driven Personalization</p></div>
                        <div>
                            <p class=" text-wrap justifytext ">
                                The app offers highly personalized numerology readings and insights, leveraging user data to provide tailored experiences. This customization increases user engagement and retention, driving long-term value for investors.
                            </p>
                        </div>
                    </div>
                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-gears"></i></div></div>
                </div>
                <div class=" d-flex flex-lg-row flex-row-reverse">
                    <div>
                        <div><p class="textcolor  text-lg-end text-end fw-bold mb-0 me-2">Scalable User Base</p></div>
                        <div>
                            <p class=" text-wrap justifytext">
                                Numerology appeals to a global audience interested in self-improvement and spiritual guidance. The app can quickly scale to millions of users, creating a vast market with minimal geographic limitations.
                            </p>
                        </div>
                    </div>
                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-rotate"></i></div></div>
                </div>
                <div class=" d-flex flex-lg-row flex-row-reverse">
                    <div>
                        <div><p class="textcolor text-lg-end text-end fw-bold mb-0 me-2">Recurring Revenue Model</p></div>
                        <div>
                            <p class=" text-wrap justifytext">
                                With premium features, subscription services, and in-app purchases, the app can generate consistent, recurring revenue. This monetization strategy ensures a steady cash flow and high return on investment.
                            </p>
                        </div>
                    </div>
                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-regular fa-clock"></i></div></div>
                </div>
            </div>
            <div class="col-lg-4 col-12 align-items-center justify-content-center d-flex flex-column  ">
                <img src="/mobileimage/tst.png" width="200" alt="Alternate Text" />
                <div class="d-flex justify-content-center align-items-center ">
                    <a asp-action="Invest" asp-route-id="5" class=" py-1 mt-5 my-5 px-5 fs-5 investbuttoninv">
                        Explore
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center">
                <div class=" d-flex flex-row-reverse">
                    <div>
                        <div><p class="textcolor fw-bold mb-0 me-2">High User Engagement</p></div>
                        <div>
                            <p class=" text-wrap justifytext">
                                Daily readings, personalized forecasts, and interactive features keep users returning to the app, creating a loyal customer base. High user engagement translates to increased revenue opportunities and a strong competitive advantage.
                            </p>
                        </div>
                    </div>
                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-warehouse"></i></div></div>
                </div>
                <div class=" d-flex flex-row-reverse">
                    <div>
                        <div><p class="textcolor  fw-bold mb-0 me-2">Cross-Selling Opportunities</p></div>
                        <div>
                            <p class=" text-wrap justifytext">
                                The app can integrate with related services, such as wellness, meditation, and lifestyle products, offering cross-selling opportunities that further enhance revenue potential and market reach.
                            </p>
                        </div>
                    </div>
                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-box-open"></i></div></div>
                </div>
                <div class=" d-flex  flex-row-reverse">
                    <div>
                        <div><p class="textcolor  fw-bold mb-0 me-2">Market Trend Alignment</p></div>
                        <div><p class=" text-wrap justifytext">The growing interest in wellness, self-care, and spirituality aligns perfectly with the app's offerings. By capitalizing on these trends, the app is positioned for rapid growth and market dominance, making it an attractive opportunity for investors.</p></div>
                    </div>
                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-money-bill-trend-up"></i></div></div>
                </div>
            </div>

        </div>

    </div>



</div>