@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="bg-white">
    <p class="text-center text-warning pt-5">
        Social media app.
    </p>
    <div class=" d-flex algin-items-center justify-content-center">
        <div class="container row mt-lg-5  ">
            <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center">
                <div class=" d-flex flex-lg-row flex-row-reverse ">
                    <div>
                        <div><p class="textcolor text-lg-end text-end fw-bold mb-0 me-2">True Anonymity</p></div>
                        <div>
                            <p class=" text-wrap justifytext ">
                                Empower users to share their thoughts, opinions, and experiences without fear of judgment or exposure. This creates a safe space for honest and open conversations, where users can express themselves freely.
                            </p>
                        </div>
                    </div>
                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-gears"></i></div></div>
                </div>
                <div class=" d-flex flex-lg-row flex-row-reverse">
                    <div>
                        <div><p class="textcolor  text-lg-end text-end fw-bold mb-0 me-2">Local Community Engagement</p></div>
                        <div><p class=" text-wrap justifytext">Connect with nearby users through localized posts and discussions, fostering a strong sense of community. By engaging with people in the same area, users can build relationships and address local issues together.</p></div>
                    </div>
                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-rotate"></i></div></div>
                </div>
                <div class=" d-flex flex-lg-row flex-row-reverse">
                    <div>
                        <div>
                            <p class="textcolor text-lg-end text-end fw-bold mb-0 me-2">
                                Exciting Random Interactions
                            </p>
                        </div>
                        <div>
                            <p class=" text-wrap justifytext">
                                Meet new people through random video chats and text interactions, adding an element of surprise and excitement to social media. These spontaneous connections make socializing more dynamic and fun.
                            </p>
                        </div>
                    </div>
                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-regular fa-clock"></i></div></div>
                </div>
            </div>
            <div class="col-lg-4 col-12 align-items-center justify-content-center d-flex flex-column  ">
                <img src="/mobileimage/Anynomous.png" class="coverimage" style="width:100%;" alt="Alternate Text" />
                <div class="d-flex justify-content-center align-items-center ">
                    <a asp-action="Invest" asp-route-id="6" class=" py-1 mt-5 my-5 px-5 fs-5 investbuttoninv">
                        Explore
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center">
                <div class=" d-flex flex-row-reverse">
                    <div>
                        <div>
                            <p class="textcolor fw-bold mb-0 me-2">
                                Live Stage Performances
                            </p>
                        </div>
                        <div>
                            <p class=" text-wrap justifytext">
                                Host or join live events where users can perform, entertain, or simply enjoy real-time performances. This feature turns the app into a virtual stage, bringing people together for shared entertainment experiences.
                            </p>
                        </div>
                    </div>
                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-warehouse"></i></div></div>
                </div>
                <div class=" d-flex flex-row-reverse">
                    <div>
                        <div><p class="textcolor  fw-bold mb-0 me-2">Safe and Secure Environment</p></div>
                        <div>
                            <p class=" text-wrap justifytext">
                                Prioritize privacy and safety with robust security features that protect user anonymity and data. This ensures a respectful and protected environment, allowing users to interact with confidence.
                            </p>
                        </div>
                    </div>
                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-box-open"></i></div></div>
                </div>
                <div class=" d-flex  flex-row-reverse">
                    <div>
                        <div>
                            <p class="textcolor  fw-bold mb-0 me-2">
                                Innovative Social Experience
                            </p>
                        </div>
                        <div><p class=" text-wrap justifytext">Stand out with a unique blend of anonymity, local interaction, and entertainment features. This app redefines social media by offering a platform where users can connect, share, and entertain in new and exciting ways.</p></div>
                    </div>
                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-money-bill-trend-up"></i></div></div>
                </div>
            </div>

        </div>

    </div>


</div>