@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="bg-white">
    <p class="text-center text-warning pt-5">
        Binet Stock Management can manage stock.
    </p>
    <div class=" d-flex algin-items-center justify-content-center">
        <div class="container row mt-lg-5  ">
            <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center">
                <div class=" d-flex flex-lg-row flex-row-reverse ">
                    <div>
                        <div><p class="textcolor text-lg-end text-end fw-bold mb-0 me-2">Automated Reorder Alerts</p></div>
                        <div><p class=" text-wrap justifytext ">Notify when stock levels fall below predefined thresholds, helping you maintain optimal inventory levels and prevent stockouts.</p></div>
                    </div>
                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-gears"></i></div></div>
                </div>
                <div class=" d-flex flex-lg-row flex-row-reverse">
                    <div>
                        <div><p class="textcolor  text-lg-end text-end fw-bold mb-0 me-2">Comprehensive Product Catalog</p></div>
                        <div><p class=" text-wrap justifytext">Allows you to manage detailed product information, including descriptions, images, barcodes, and pricing, for easy reference and efficient inventory management.</p></div>
                    </div>
                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-rotate"></i></div></div>
                </div>
                <div class=" d-flex flex-lg-row flex-row-reverse">
                    <div>
                        <div><p class="textcolor text-lg-end text-end fw-bold mb-0 me-2">Real-Time Inventory Tracking</p></div>
                        <div><p class=" text-wrap justifytext">Provides up-to-date information on stock levels across multiple locations, ensuring accurate monitoring of inventory status and availability.</p></div>
                    </div>
                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-regular fa-clock"></i></div></div>
                </div>
            </div>
            <div class="col-lg-4 col-12 align-items-center justify-content-center d-flex flex-column ">
                <img src="/mobileimage/stock.webp" class="coverimage" style="width:100%;" alt="Alternate Text" />
                <div class="d-flex justify-content-center align-items-center ">
                    <a asp-action="Invest" asp-route-id="3" class=" py-1 mt-5 my-5 px-5 fs-5 investbuttoninv">
                        Explore
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center">
                <div class=" d-flex flex-row-reverse">
                    <div>
                        <div><p class="textcolor fw-bold mb-0 me-2">Mobile Inventory Management</p></div>
                        <div>
                            <p class=" text-wrap justifytext">
                                Provides mobile access through a dedicated app, enabling users to manage inventory, update stock levels, and process transactions on-the-go from smartphones or tablets.

                            </p>
                        </div>
                    </div>
                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-warehouse"></i></div></div>
                </div>
                <div class=" d-flex flex-row-reverse">
                    <div>
                        <div><p class="textcolor  fw-bold mb-0 me-2">Order Management</p></div>
                        <div><p class=" text-wrap justifytext">Tracks and manages customer orders and purchase orders, integrating with sales channels to streamline order processing and fulfillment.</p></div>
                    </div>
                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-box-open"></i></div></div>
                </div>
                <div class=" d-flex  flex-row-reverse">
                    <div>
                        <div><p class="textcolor  fw-bold mb-0 me-2">Stock Valuation and Reporting</p></div>
                        <div><p class=" text-wrap justifytext">Generates reports on stock valuation, cost of goods sold (COGS), and inventory turnover rates, offering insights into inventory performance and financial impact.</p></div>
                    </div>
                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-money-bill-trend-up"></i></div></div>
                </div>
            </div>

        </div>

    </div>



</div>