@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@* Be part of tech *@


 <div class="container mt-5">
    <div>
        <h2 class="featurette-heading text-center textcolor"> Why <span class="text-muted">Us</span></h2>
        <p class="text-center">We gather user feedback, and plan for future improvements.</p>
    </div>
    <div class="row">
@*         <div class="col-12 d-flex justify-content-end "><button class="latestprojectbtn">View More <i class=" fa-solid fa-arrow-right"></i></button></div> *@
        <div class="row mt-3 gap-md-0 gap-3">
            <div class="col-lg-4 col-md-4 col-12 ">

                <div class="card cardhover">
                        @* <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=700&amp;q=60" alt="" class="card-img-top"> *@
                    <div  class="d-flex justify-content-center align-items-center"> <i class="fa-regular fa-lightbulb display-2 pt-3 textcolor"></i> </div>
                    <div class="card-body">

                            <h5 class="card-title">Innovation</h5>
                        <p class="card-text">At our company, we turn innovative ideas into reality. We specialize in transforming visionary concepts into practical solutions through cutting-edge software development. Our team of experts is dedicated to exploring new technologies and methodologies to bring your most ambitious ideas to life. Whether it's developing advanced algorithms, designing user-centric interfaces, or integrating emerging technologies, we are committed to pushing the boundaries of what's possible.</p>
                            <a asp-action="" class="btn btn-outline-success btn-sm">Read More</a>
                           
                        </div>
                </div>  
               
            </div>
            <div class="col-lg-4 col-md-4 col-12 ">
                <div class="card cardhover">
               
                   @*  <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=700&amp;q=60" alt="" class="card-img-top"> *@
                    <div class="d-flex justify-content-center align-items-center"> <i class="fa-solid fa-book display-2 pt-3 textcolor"></i> </div>
                    <div class="card-body">
                        <h5 class="card-title">Experience</h5>
                        <p class="card-text fs-6">With over 6 years of experience, We turn innovative ideas into reality. We have a proven track record of transforming visionary concepts into practical, cutting-edge solutions through expert software development. Our extensive experience allows us to leverage advanced technologies and methodologies to address complex challenges and deliver exceptional results. Whether it’s developing sophisticated algorithms, designing intuitive user interfaces, or integrating emerging technologies. </p>
                        <a asp-action="" class="btn btn-outline-success btn-sm">Read More</a>

                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-4 col-12 ">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="card cardhover">
                        @* <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=700&amp;q=60" alt="" class="card-img-top"> *@
                        <div class="d-flex justify-content-center align-items-center"> <i class="fa-solid fa-people-group display-2 pt-3 textcolor"></i> </div>
                        <div class="card-body">
                            <h5 class="card-title">Team</h5>
                            <p class="card-text">Our software development teams are composed of highly skilled professionals with a diverse range of expertise, ensuring that we tackle every project with a comprehensive approach. Each team includes software developers, UX/UI designers, quality assurance specialists, and project managers who collaborate seamlessly to deliver top-notch solutions. With years of experience and a deep understanding of various technologies, our teams are adept at navigating complex challenges and driving innovation.</p>
                            <a asp-action="" class="btn btn-outline-success btn-sm">Read More</a>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div> 