@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@* footer *@
<footer class=" py-3 mt-lg-5 mt-3 bg-white shadow-sm position-sticky bottom-0 ">
    <div class="container">
        <div class="row">
      
            <div class="col-6 col-md-2 mb-3 slide-top">

                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><img src="/logo/Binetlogo.png" width="100" alt="Alternate Text" /></a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted fw-bold">9862130505, 025-575163</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Mahalaxmisthan,Lalitpur </a></li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-muted">
                            Narayangarh,Chitwan
                        </a>
                    </li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                    <li class="nav-item mb-2 fw-bolder"><a href="#" class="nav-link p-0 text-muted">We are on </a></li>
               
                    <li class="d-flex gap-2"><a href="#"><i class="fa-brands fa-facebook fa-xl"></i></a><a href="#"><i class="fa-brands fa-xl fa-linkedin"></i></a></li>
                </ul>
            </div>

            
            <div class="col-6 col-md-2 mb-3 pt-lg-5 slide-top ">
                <h5 class="fw-bold">Quick Link</h5>
                <ul class="nav flex-column pt-4">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About us</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Projects</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Service</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Testimonials</a></li>
                </ul>
            </div>

            <div class="col-6 col-md-2 mb-3 pt-lg-5 pt-md-4 slide-top">
                <h5 class="fw-bold">Information</h5>
                <ul class="nav flex-column pt-4">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Be a Investor</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Privacy Policy</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                </ul>
            </div>

            <div class="col-md-5 mt-5 offset-md-1 mb-3 slide-top">
                <form>
                    <h5>Subscribe to our newsletter</h5>

                    <div class="d-flex flex-row flex-sm-col w-100 gap-2 mt-4">
                        <label for="newsletter1" class="visually-hidden">Email address</label>
                        <input id="newsletter1" type="text" class="form-control rounded-end rounded-pill" placeholder="Email address">
                        <button class="btn rounded-pill text-nowrap position-relative subscribecolor" style="right:35px;" type="button"><span class="text-white"> <i class=" fa-solid fa-arrow-right "></i></span> </button>
                    </div>
                </form>
            </div>
        </div>

    
        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
            <p>© 2022 Company, Inc. All rights reserved.</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
                <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
                <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
            </ul>
        </div>
    </div>
</footer>
