<section id="home">
<div style="height:150px;"></div>

<div class="container-fluid pb-5" >
    <div class="row ">
        <div class="col-lg-6 col-md-6 col-12 px-lg-5 d-flex justify-content-center align-items-center slide-top ">
            <div class="row">
                    <div class="row"><p class=" fw-bold display-5 textcolor p-0 m-0 text-start">Let’s create a software <br /> according to your <br /><p class="typing-demo fw-bold display-5 textshadow text-warning ps-0" >Requirements</p> </p></div>
                <div class="row"><p class="fw-bold">we are dedicated to providing top-notch services that drive innovation and success. </p></div>
                <div class="row"><button class="border-0  px-3 py-2  getstartedbutton ">Get Started <i class="faarrow fa-solid fa-arrow-right"></i></button></div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12 my-sm-5 d-flex align-items-center justify-content-center slide-top">
            <img style="object-fit:cover;" class="coverimage" src="/logo/cover.webp" alt="Computer pic" />
        </div>
    </div>

</div>


</section>

