@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section id="project">
@* In house Project *@
<div class="container mt-lg-5 slide-top">
@*     <div class="row">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="row w-75 ">
                    <h2 class="featurette-heading text-center textcolor display-5"> In House <span class="text-muted">Project</span></h2>
             
                <p class="text-center">
                    We have several in-house projects available for viewing here.
                </p>
            </div>
            <div id="Customactive" class=" d-flex justify-content-center align-items-center flex-row textcolor fw-bold ">
                @{
                    int isActiveFirst = 1;
                }
                <button class=" @(isActiveFirst == 1? "testbtn" : "customcarobutton" ) " onclick="datasend(1)" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1">Binet Gold App</button>
                <button class=" @(isActiveFirst == 2? "testbtn" : "customcarobutton" ) " onclick="datasend(2)" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2">Binet Anynomous App</button>
                <button class=" @(isActiveFirst == 3? "testbtn" : "customcarobutton" ) " onclick="datasend(3)" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3">Nepal Mart</button>


            </div>
        </div>

        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" id="#collapseExampleone">
                    <div class="row mt-lg-5">
                        <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center">
                            <div class=" d-flex flex-lg-row flex-row-reverse ">
                                <div>
                                    <div><p class="textcolor text-lg-end text-start fw-bold mb-0 me-2">Automated Workflow</p></div>
                                    <div><p class=" text-wrap">Integration allows for the automation of various workflows, reducing manual data entry and minimizing errors. For example, sales orders processed in Points One can automatically generate corresponding entries in the Binet Gold App.</p></div>
                                </div>
                                <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-gears"></i></div></div>
                            </div>
                            <div class=" d-flex flex-lg-row flex-row-reverse">
                                <div>
                                    <div><p class="textcolor  text-lg-end text-start fw-bold mb-0 me-2">Data Synchronization</p></div>
                                    <div><p class=" text-wrap">Binet Gold App seamlessly synchronizes data with Points One, ensuring that information such as inventory levels, sales figures, and customer details are consistently updated across both platforms.</p></div>
                                </div>
                                <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-rotate"></i></div></div>
                            </div>
                            <div class=" d-flex flex-lg-row flex-row-reverse">
                                <div>
                                    <div><p class="textcolor text-lg-end text-start fw-bold mb-0 me-2">Real-Time Reporting</p></div>
                                    <div><p class=" text-wrap">By linking Binet Gold App with Points One, users can generate real-time reports that reflect the most current data from both systems, providing accurate insights for decision-making.</p></div>
                                </div>
                                <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-regular fa-clock"></i></div></div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-12 align-items-center justify-content-center d-flex  "><img src="/mobileimage/Gold.png" width="200" alt="Alternate Text" /></div>
                        <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center">
                            <div class=" d-flex flex-row-reverse">
                                <div>
                                    <div><p class="textcolor fw-bold mb-0 me-2">Inventory Management</p></div>
                                    <div><p class=" text-wrap">The integration enhances inventory management by ensuring that stock levels, orders, and shipments are accurately tracked and updated across both systems, improving supply chain efficiency.</p></div>
                                </div>
                                <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-warehouse"></i></div></div>
                            </div>
                            <div class=" d-flex flex-row-reverse">
                                <div>
                                    <div><p class="textcolor  fw-bold mb-0 me-2">Customer Relationship Management (CRM)</p></div>
                                    <div><p class=" text-wrap">Integration facilitates a unified view of customer interactions and transactions, allowing for better customer service and personalized marketing efforts by syncing CRM data between Binet Gold App and Points One.</p></div>
                                </div>
                                <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-box-open"></i></div></div>
                            </div>
                            <div class=" d-flex  flex-row-reverse">
                                <div>
                                    <div><p class="textcolor  fw-bold mb-0 me-2">Financial Reconciliation</p></div>
                                    <div><p class=" text-wrap">Binet Gold App integrates with Points One to streamline financial reconciliation processes, aligning transaction records and financial data between the two systems for accurate accounting and reporting.</p></div>
                                </div>
                                <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-money-bill-trend-up"></i></div></div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="carousel-item" id="#collapseExampletwo">
                    <div class="row mt-lg-5">
                        <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center">
                            <div class=" d-flex flex-lg-row flex-row-reverse ">
                                <div>
                                    <div><p class="textcolor text-lg-end text-start fw-bold mb-0 me-2">Global Reach</p></div>
                                    <div><p class=" text-wrap">Users can connect with individuals from around the world, broadening their social network and exposing them to diverse cultures and perspectives.</p></div>
                                </div>
                                <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-earth-americas"></i></div></div>
                            </div>
                            <div class=" d-flex flex-lg-row flex-row-reverse">
                                <div>
                                    <div><p class="textcolor  text-lg-end text-start fw-bold mb-0 me-2">Anonymity Protection</p></div>
                                    <div><p class=" text-wrap"> Binet Anonymous App allows users to interact and form connections without revealing personal information, ensuring privacy and reducing the risk of online harassment or identity theft.</p></div>
                                </div>
                                <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-fingerprint"></i></div></div>
                            </div>
                            <div class=" d-flex flex-lg-row flex-row-reverse">
                                <div>
                                    <div><p class="textcolor text-lg-end text-start fw-bold mb-0 me-2">Interest-Based Matching</p></div>
                                    <div><p class=" text-wrap">The app uses algorithms to match users based on shared interests and activities, enhancing the likelihood of meaningful and enjoyable interactions.</p></div>
                                </div>
                                <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-person-circle-plus"></i></div></div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-12 align-items-center justify-content-center d-flex  "><img src="/mobileimage/Meetapp.png" width="200" alt="Alternate Text" /></div>
                        <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center">
                            <div class=" d-flex flex-row-reverse">
                                <div>
                                    <div><p class="textcolor fw-bold mb-0 me-2">Safe and Controlled Environment</p></div>
                                    <div><p class=" text-wrap">By providing features such as moderation and reporting tools, the app ensures a safe and respectful space for users to engage with new people.</p></div>
                                </div>
                                <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-user-shield"></i></div></div>
                            </div>
                            <div class=" d-flex flex-row-reverse">
                                <div>
                                    <div><p class="textcolor  fw-bold mb-0 me-2">Interactive Features</p></div>
                                    <div><p class=" text-wrap">The app includes various interactive features, such as chat rooms, virtual events, and activity challenges, which facilitate engaging and dynamic conversations.</p></div>
                                </div>
                                <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-brands fa-connectdevelop"></i></div></div>
                            </div>
                            <div class=" d-flex  flex-row-reverse">
                                <div>
                                    <div><p class="textcolor  fw-bold mb-0 me-2">Customizable Profiles</p></div>
                                    <div><p class=" text-wrap">Users can create profiles with customizable preferences and interests, helping them to find and connect with like-minded individuals more effectively.</p></div>
                                </div>
                                <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-user-pen"></i></div></div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="carousel-item" id="#collapseExamplethree">
                    <div class="row mt-lg-5">
                        <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center">
                            <div class=" d-flex flex-lg-row flex-row-reverse ">
                                <div>
                                    <div><p class="textcolor text-lg-end text-start fw-bold mb-0 me-2">Push Notification</p></div>
                                    <div><p class=" text-wrap">Figma ipsum component variant main layer. Pen component slice overflow undo variant component auto bullet.</p></div>
                                </div>
                                <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-bell"></i></div></div>
                            </div>
                            <div class=" d-flex flex-lg-row flex-row-reverse">
                                <div>
                                    <div><p class="textcolor  text-lg-end text-start fw-bold mb-0 me-2">Push Notification</p></div>
                                    <div><p class=" text-wrap">Figma ipsum component variant main layer. Pen component slice overflow undo variant component auto bullet.</p></div>
                                </div>
                                <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-bell"></i></div></div>
                            </div>
                            <div class=" d-flex flex-lg-row flex-row-reverse">
                                <div>
                                    <div><p class="textcolor text-lg-end text-start fw-bold mb-0 me-2">Push Notification</p></div>
                                    <div><p class=" text-wrap">Figma ipsum component variant main layer. Pen component slice overflow undo variant component auto bullet.</p></div>
                                </div>
                                <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-bell"></i></div></div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-12 align-items-center justify-content-center d-flex  "><img src="/mobileimage/Goldmain.png" width="200" alt="Alternate Text" /></div>
                        <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center">
                            <div class=" d-flex flex-row-reverse">
                                <div>
                                    <div><p class="textcolor fw-bold mb-0 me-2">Push Notification</p></div>
                                    <div><p class=" text-wrap">Figma ipsum component variant main layer. Pen component slice overflow undo variant component auto bullet.</p></div>
                                </div>
                                <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-bell"></i></div></div>
                            </div>
                            <div class=" d-flex flex-row-reverse">
                                <div>
                                    <div><p class="textcolor  fw-bold mb-0 me-2">Push Notification</p></div>
                                    <div><p class=" text-wrap">Figma ipsum component variant main layer. Pen component slice overflow undo variant component auto bullet.</p></div>
                                </div>
                                <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-bell"></i></div></div>
                            </div>
                            <div class=" d-flex  flex-row-reverse">
                                <div>
                                    <div><p class="textcolor  fw-bold mb-0 me-2">Push Notification</p></div>
                                    <div><p class=" text-wrap">Figma ipsum component variant main layer. Pen component slice overflow undo variant component auto bullet.</p></div>
                                </div>
                                <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-bell"></i></div></div>
                            </div>
                        </div>

                    </div>
                </div>
               
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>



        <div class="d-flex justify-content-center align-items-center">
            <a asp-action="Invest" class="investbutton py-1 my-5 px-5">
                Invest
            </a>
        </div>
    </div> *@
      

</div>


<div class="mt-lg-5 slide-top">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="row w-75 ">
                <h2 class="featurette-heading text-center textcolor display-5"> In House <span class="text-muted">Project</span></h2>

                <p class="text-center">
                    We have several in-house projects available for viewing here.
                </p>
            </div>
            <div class="row w-75 ">
              
                
            </div>
            <div id="Customactive" class=" d-flex justify-content-center align-items-center flex-row textcolor fw-bold ">

              
                <ul class="nav nav-tabs justify-content-center" role="tablist" id="activebtn">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link textcolor active" data-bs-toggle="tab" href="#pills-gold" role="tab"> Gold App </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link textcolor" data-bs-toggle="tab" href="#pills-accounting" role="tab"> Accounting Software</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link textcolor" data-bs-toggle="tab" href="#pills-stock" role="tab"> Stock Management </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link textcolor" data-bs-toggle="tab" href="#pills-mart" role="tab"> Nepal Mart </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link textcolor" data-bs-toggle="tab" href="#pills-Numerology" role="tab"> Numerology App </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link textcolor" data-bs-toggle="tab" href="#pills-anynomous" role="tab"> Anynomouse App </a>
                    </li>
           
                   
                </ul>
            </div>
          
        </div>
        


     
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-gold" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="bg-white">
                    <p class="text-center text-warning pt-5">
                        Binet Gold App is complete Gold ERP Software.
                    </p>
                    <div class=" d-flex algin-items-center justify-content-center">
                        <div class="container row mt-lg-5  ">
                            <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center">
                                <div class=" d-flex flex-lg-row flex-row-reverse ">
                                    <div>
                                        <div><p class="textcolor text-lg-end text-end fw-bold mb-0 me-2">Automated Workflow</p></div>
                                        <div><p class=" text-wrap justifytext ">Integration allows for the automation of various workflows, reducing manual data entry and minimizing errors. For example, sales orders processed in Points One can automatically generate corresponding entries in the Binet Gold App.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-gears"></i></div></div>
                                </div>
                                <div class=" d-flex flex-lg-row flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor  text-lg-end text-end fw-bold mb-0 me-2">Data Synchronization</p></div>
                                        <div><p class=" text-wrap justifytext">Binet Gold App seamlessly synchronizes data with Points One, ensuring that information such as inventory levels, sales figures, and customer details are consistently updated across both platforms.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-rotate"></i></div></div>
                                </div>
                                <div class=" d-flex flex-lg-row flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor text-lg-end text-end fw-bold mb-0 me-2">Real-Time Reporting</p></div>
                                        <div><p class=" text-wrap justifytext">By linking Binet Gold App with Points One, users can generate real-time reports that reflect the most current data from both systems, providing accurate insights for decision-making.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-regular fa-clock"></i></div></div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-12 align-items-center justify-content-center d-flex "><img src="/logo/binetimg.png" class="coverimage" style="width:100%;" alt="Alternate Text" /></div>
                            <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center">
                                <div class=" d-flex flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor fw-bold mb-0 me-2">Inventory Management</p></div>
                                        <div><p class=" text-wrap justifytext">The integration enhances inventory management by ensuring that stock levels, orders, and shipments are accurately tracked and updated across both systems, improving supply chain efficiency.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-warehouse"></i></div></div>
                                </div>
                                <div class=" d-flex flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor  fw-bold mb-0 me-2">Customer Relationship Management (CRM)</p></div>
                                        <div><p class=" text-wrap justifytext">Integration facilitates a unified view of customer interactions and transactions, allowing for better customer service and personalized marketing efforts by syncing CRM data between Binet Gold App and Points One.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-box-open"></i></div></div>
                                </div>
                                <div class=" d-flex  flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor  fw-bold mb-0 me-2">Financial Reconciliation</p></div>
                                        <div><p class=" text-wrap justifytext">Binet Gold App integrates with Points One to streamline financial reconciliation processes, aligning transaction records and financial data between the two systems for accurate accounting and reporting.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-money-bill-trend-up"></i></div></div>
                                </div>
                            </div>

                        </div>

                    </div>


                    <div class="d-flex justify-content-center align-items-center">
                        <a asp-action="Invest" class="investbutton py-1 my-5 px-5">
                            Invest
                        </a>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-accounting" role="tabpanel" aria-labelledby="pills-contact-tab">
                <div class="bg-white">
                    <p class="text-center text-warning pt-5">
                        Binet Gold App is complete Gold ERP Software.
                    </p>
                    <div class=" d-flex algin-items-center justify-content-center">
                        <div class="container row mt-lg-5  ">
                            <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center">
                                <div class=" d-flex flex-lg-row flex-row-reverse ">
                                    <div>
                                        <div><p class="textcolor text-lg-end text-end fw-bold mb-0 me-2">Automated Workflow</p></div>
                                        <div><p class=" text-wrap justifytext ">Integration allows for the automation of various workflows, reducing manual data entry and minimizing errors. For example, sales orders processed in Points One can automatically generate corresponding entries in the Binet Gold App.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-gears"></i></div></div>
                                </div>
                                <div class=" d-flex flex-lg-row flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor  text-lg-end text-end fw-bold mb-0 me-2">Data Synchronization</p></div>
                                        <div><p class=" text-wrap justifytext">Binet Gold App seamlessly synchronizes data with Points One, ensuring that information such as inventory levels, sales figures, and customer details are consistently updated across both platforms.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-rotate"></i></div></div>
                                </div>
                                <div class=" d-flex flex-lg-row flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor text-lg-end text-end fw-bold mb-0 me-2">Real-Time Reporting</p></div>
                                        <div><p class=" text-wrap justifytext">By linking Binet Gold App with Points One, users can generate real-time reports that reflect the most current data from both systems, providing accurate insights for decision-making.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-regular fa-clock"></i></div></div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-12 align-items-center justify-content-center d-flex  "><img src="/mobileimage/Gold.png" width="200" alt="Alternate Text" /></div>
                            <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center">
                                <div class=" d-flex flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor fw-bold mb-0 me-2">Inventory Management</p></div>
                                        <div><p class=" text-wrap justifytext">The integration enhances inventory management by ensuring that stock levels, orders, and shipments are accurately tracked and updated across both systems, improving supply chain efficiency.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-warehouse"></i></div></div>
                                </div>
                                <div class=" d-flex flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor  fw-bold mb-0 me-2">Customer Relationship Management (CRM)</p></div>
                                        <div><p class=" text-wrap justifytext">Integration facilitates a unified view of customer interactions and transactions, allowing for better customer service and personalized marketing efforts by syncing CRM data between Binet Gold App and Points One.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-box-open"></i></div></div>
                                </div>
                                <div class=" d-flex  flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor  fw-bold mb-0 me-2">Financial Reconciliation</p></div>
                                        <div><p class=" text-wrap justifytext">Binet Gold App integrates with Points One to streamline financial reconciliation processes, aligning transaction records and financial data between the two systems for accurate accounting and reporting.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-money-bill-trend-up"></i></div></div>
                                </div>
                            </div>

                        </div>

                    </div>


                    <div class="d-flex justify-content-center align-items-center">
                        <a asp-action="Invest" class="investbutton py-1 my-5 px-5">
                            Invest
                        </a>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-stock" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="bg-white">
                    <p class="text-center text-warning pt-5">
                        Binet Gold App is complete Gold ERP Software.
                    </p>
                    <div class=" d-flex algin-items-center justify-content-center">
                        <div class="container row mt-lg-5  ">
                            <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center">
                                <div class=" d-flex flex-lg-row flex-row-reverse ">
                                    <div>
                                        <div><p class="textcolor text-lg-end text-end fw-bold mb-0 me-2">Automated Workflow</p></div>
                                        <div><p class=" text-wrap justifytext ">Integration allows for the automation of various workflows, reducing manual data entry and minimizing errors. For example, sales orders processed in Points One can automatically generate corresponding entries in the Binet Gold App.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-gears"></i></div></div>
                                </div>
                                <div class=" d-flex flex-lg-row flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor  text-lg-end text-end fw-bold mb-0 me-2">Data Synchronization</p></div>
                                        <div><p class=" text-wrap justifytext">Binet Gold App seamlessly synchronizes data with Points One, ensuring that information such as inventory levels, sales figures, and customer details are consistently updated across both platforms.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-rotate"></i></div></div>
                                </div>
                                <div class=" d-flex flex-lg-row flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor text-lg-end text-end fw-bold mb-0 me-2">Real-Time Reporting</p></div>
                                        <div><p class=" text-wrap justifytext">By linking Binet Gold App with Points One, users can generate real-time reports that reflect the most current data from both systems, providing accurate insights for decision-making.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-regular fa-clock"></i></div></div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-12 align-items-center justify-content-center d-flex  "><img src="/mobileimage/Gold.png" width="200" alt="Alternate Text" /></div>
                            <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center">
                                <div class=" d-flex flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor fw-bold mb-0 me-2">Inventory Management</p></div>
                                        <div><p class=" text-wrap justifytext">The integration enhances inventory management by ensuring that stock levels, orders, and shipments are accurately tracked and updated across both systems, improving supply chain efficiency.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-warehouse"></i></div></div>
                                </div>
                                <div class=" d-flex flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor  fw-bold mb-0 me-2">Customer Relationship Management (CRM)</p></div>
                                        <div><p class=" text-wrap justifytext">Integration facilitates a unified view of customer interactions and transactions, allowing for better customer service and personalized marketing efforts by syncing CRM data between Binet Gold App and Points One.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-box-open"></i></div></div>
                                </div>
                                <div class=" d-flex  flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor  fw-bold mb-0 me-2">Financial Reconciliation</p></div>
                                        <div><p class=" text-wrap justifytext">Binet Gold App integrates with Points One to streamline financial reconciliation processes, aligning transaction records and financial data between the two systems for accurate accounting and reporting.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-money-bill-trend-up"></i></div></div>
                                </div>
                            </div>

                        </div>

                    </div>


                    <div class="d-flex justify-content-center align-items-center">
                        <a asp-action="Invest" class="investbutton py-1 my-5 px-5">
                            Invest
                        </a>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-mart" role="tabpanel" aria-labelledby="pills-contact-tab">
                <div class="bg-white">
                    <p class="text-center text-warning pt-5">
                        Binet Gold App is complete Gold ERP Software.
                    </p>
                    <div class=" d-flex algin-items-center justify-content-center">
                        <div class="container row mt-lg-5  ">
                            <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center">
                                <div class=" d-flex flex-lg-row flex-row-reverse ">
                                    <div>
                                        <div><p class="textcolor text-lg-end text-end fw-bold mb-0 me-2">Automated Workflow</p></div>
                                        <div><p class=" text-wrap justifytext ">Integration allows for the automation of various workflows, reducing manual data entry and minimizing errors. For example, sales orders processed in Points One can automatically generate corresponding entries in the Binet Gold App.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-gears"></i></div></div>
                                </div>
                                <div class=" d-flex flex-lg-row flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor  text-lg-end text-end fw-bold mb-0 me-2">Data Synchronization</p></div>
                                        <div><p class=" text-wrap justifytext">Binet Gold App seamlessly synchronizes data with Points One, ensuring that information such as inventory levels, sales figures, and customer details are consistently updated across both platforms.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-rotate"></i></div></div>
                                </div>
                                <div class=" d-flex flex-lg-row flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor text-lg-end text-end fw-bold mb-0 me-2">Real-Time Reporting</p></div>
                                        <div><p class=" text-wrap justifytext">By linking Binet Gold App with Points One, users can generate real-time reports that reflect the most current data from both systems, providing accurate insights for decision-making.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-regular fa-clock"></i></div></div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-12 align-items-center justify-content-center d-flex  "><img src="/mobileimage/Gold.png" width="200" alt="Alternate Text" /></div>
                            <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center">
                                <div class=" d-flex flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor fw-bold mb-0 me-2">Inventory Management</p></div>
                                        <div><p class=" text-wrap justifytext">The integration enhances inventory management by ensuring that stock levels, orders, and shipments are accurately tracked and updated across both systems, improving supply chain efficiency.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-warehouse"></i></div></div>
                                </div>
                                <div class=" d-flex flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor  fw-bold mb-0 me-2">Customer Relationship Management (CRM)</p></div>
                                        <div><p class=" text-wrap justifytext">Integration facilitates a unified view of customer interactions and transactions, allowing for better customer service and personalized marketing efforts by syncing CRM data between Binet Gold App and Points One.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-box-open"></i></div></div>
                                </div>
                                <div class=" d-flex  flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor  fw-bold mb-0 me-2">Financial Reconciliation</p></div>
                                        <div><p class=" text-wrap justifytext">Binet Gold App integrates with Points One to streamline financial reconciliation processes, aligning transaction records and financial data between the two systems for accurate accounting and reporting.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-money-bill-trend-up"></i></div></div>
                                </div>
                            </div>

                        </div>

                    </div>


                    <div class="d-flex justify-content-center align-items-center">
                        <a asp-action="Invest" class="investbutton py-1 my-5 px-5">
                            Invest
                        </a>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-Numerology" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="bg-white">
                    <p class="text-center text-warning pt-5">
                        Binet Gold App is complete Gold ERP Software.
                    </p>
                    <div class=" d-flex algin-items-center justify-content-center">
                        <div class="container row mt-lg-5  ">
                            <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center">
                                <div class=" d-flex flex-lg-row flex-row-reverse ">
                                    <div>
                                        <div><p class="textcolor text-lg-end text-end fw-bold mb-0 me-2">Automated Workflow</p></div>
                                        <div><p class=" text-wrap justifytext ">Integration allows for the automation of various workflows, reducing manual data entry and minimizing errors. For example, sales orders processed in Points One can automatically generate corresponding entries in the Binet Gold App.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-gears"></i></div></div>
                                </div>
                                <div class=" d-flex flex-lg-row flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor  text-lg-end text-end fw-bold mb-0 me-2">Data Synchronization</p></div>
                                        <div><p class=" text-wrap justifytext">Binet Gold App seamlessly synchronizes data with Points One, ensuring that information such as inventory levels, sales figures, and customer details are consistently updated across both platforms.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-rotate"></i></div></div>
                                </div>
                                <div class=" d-flex flex-lg-row flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor text-lg-end text-end fw-bold mb-0 me-2">Real-Time Reporting</p></div>
                                        <div><p class=" text-wrap justifytext">By linking Binet Gold App with Points One, users can generate real-time reports that reflect the most current data from both systems, providing accurate insights for decision-making.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-regular fa-clock"></i></div></div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-12 align-items-center justify-content-center d-flex  "><img src="/mobileimage/Gold.png" width="200" alt="Alternate Text" /></div>
                            <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center">
                                <div class=" d-flex flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor fw-bold mb-0 me-2">Inventory Management</p></div>
                                        <div><p class=" text-wrap justifytext">The integration enhances inventory management by ensuring that stock levels, orders, and shipments are accurately tracked and updated across both systems, improving supply chain efficiency.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-warehouse"></i></div></div>
                                </div>
                                <div class=" d-flex flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor  fw-bold mb-0 me-2">Customer Relationship Management (CRM)</p></div>
                                        <div><p class=" text-wrap justifytext">Integration facilitates a unified view of customer interactions and transactions, allowing for better customer service and personalized marketing efforts by syncing CRM data between Binet Gold App and Points One.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-box-open"></i></div></div>
                                </div>
                                <div class=" d-flex  flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor  fw-bold mb-0 me-2">Financial Reconciliation</p></div>
                                        <div><p class=" text-wrap justifytext">Binet Gold App integrates with Points One to streamline financial reconciliation processes, aligning transaction records and financial data between the two systems for accurate accounting and reporting.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-money-bill-trend-up"></i></div></div>
                                </div>
                            </div>

                        </div>

                    </div>


                    <div class="d-flex justify-content-center align-items-center">
                        <a asp-action="Invest" class="investbutton py-1 my-5 px-5">
                            Invest
                        </a>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-anynomous" role="tabpanel" aria-labelledby="pills-contact-tab">
                <div class="bg-white">
                    <p class="text-center text-warning pt-5">
                        Binet Gold App is complete Gold ERP Software.
                    </p>
                    <div class=" d-flex algin-items-center justify-content-center">
                        <div class="container row mt-lg-5  ">
                            <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center">
                                <div class=" d-flex flex-lg-row flex-row-reverse ">
                                    <div>
                                        <div><p class="textcolor text-lg-end text-end fw-bold mb-0 me-2">Automated Workflow</p></div>
                                        <div><p class=" text-wrap justifytext ">Integration allows for the automation of various workflows, reducing manual data entry and minimizing errors. For example, sales orders processed in Points One can automatically generate corresponding entries in the Binet Gold App.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-gears"></i></div></div>
                                </div>
                                <div class=" d-flex flex-lg-row flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor  text-lg-end text-end fw-bold mb-0 me-2">Data Synchronization</p></div>
                                        <div><p class=" text-wrap justifytext">Binet Gold App seamlessly synchronizes data with Points One, ensuring that information such as inventory levels, sales figures, and customer details are consistently updated across both platforms.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-rotate"></i></div></div>
                                </div>
                                <div class=" d-flex flex-lg-row flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor text-lg-end text-end fw-bold mb-0 me-2">Real-Time Reporting</p></div>
                                        <div><p class=" text-wrap justifytext">By linking Binet Gold App with Points One, users can generate real-time reports that reflect the most current data from both systems, providing accurate insights for decision-making.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-regular fa-clock"></i></div></div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-12 align-items-center justify-content-center d-flex  "><img src="/mobileimage/Gold.png" width="200" alt="Alternate Text" /></div>
                            <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center">
                                <div class=" d-flex flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor fw-bold mb-0 me-2">Inventory Management</p></div>
                                        <div><p class=" text-wrap justifytext">The integration enhances inventory management by ensuring that stock levels, orders, and shipments are accurately tracked and updated across both systems, improving supply chain efficiency.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-warehouse"></i></div></div>
                                </div>
                                <div class=" d-flex flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor  fw-bold mb-0 me-2">Customer Relationship Management (CRM)</p></div>
                                        <div><p class=" text-wrap justifytext">Integration facilitates a unified view of customer interactions and transactions, allowing for better customer service and personalized marketing efforts by syncing CRM data between Binet Gold App and Points One.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-box-open"></i></div></div>
                                </div>
                                <div class=" d-flex  flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor  fw-bold mb-0 me-2">Financial Reconciliation</p></div>
                                        <div><p class=" text-wrap justifytext">Binet Gold App integrates with Points One to streamline financial reconciliation processes, aligning transaction records and financial data between the two systems for accurate accounting and reporting.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-money-bill-trend-up"></i></div></div>
                                </div>
                            </div>

                        </div>

                    </div>


                    <div class="d-flex justify-content-center align-items-center">
                        <a asp-action="Invest" class="investbutton py-1 my-5 px-5">
                            Invest
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<script type="text/javascript">
    function datasend(id) {
        $.ajax({
            url: '@Url.Action("Activeint", "Home")',
            type: 'GET',
            data: { id: id },
            success: function (response) {
                console.log(response);
                var returndata = response;

            },
            error: function (xhr, status, error) {
                $('#result').html('<p>Error occurred: ' + error + '</p>');
            }
        });
    }
</script>

@* style load  *@
@* Bundling *@
@* differ parshing *@
@* lazy loading  --- image*@
</section>