@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section id="project">
@* In house Project *@
<div class="container mt-lg-5 slide-top">
@*     <div class="row">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="row w-75 ">
                    <h2 class="featurette-heading text-center textcolor display-5"> In House <span class="text-muted">Project</span></h2>
             
                <p class="text-center">
                    We have several in-house projects available for viewing here.
                </p>
            </div>
            <div id="Customactive" class=" d-flex justify-content-center align-items-center flex-row textcolor fw-bold ">
                @{
                    int isActiveFirst = 1;
                }
                <button class=" @(isActiveFirst == 1? "testbtn" : "customcarobutton" ) " onclick="datasend(1)" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1">Binet Gold App</button>
                <button class=" @(isActiveFirst == 2? "testbtn" : "customcarobutton" ) " onclick="datasend(2)" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2">Binet Anynomous App</button>
                <button class=" @(isActiveFirst == 3? "testbtn" : "customcarobutton" ) " onclick="datasend(3)" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3">Nepal Mart</button>


            </div>
        </div>

        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" id="#collapseExampleone">
                    <div class="row mt-lg-5">
                        <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center">
                            <div class=" d-flex flex-lg-row flex-row-reverse ">
                                <div>
                                    <div><p class="textcolor text-lg-end text-start fw-bold mb-0 me-2">Automated Workflow</p></div>
                                    <div><p class=" text-wrap">Integration allows for the automation of various workflows, reducing manual data entry and minimizing errors. For example, sales orders processed in Points One can automatically generate corresponding entries in the Binet Gold App.</p></div>
                                </div>
                                <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-gears"></i></div></div>
                            </div>
                            <div class=" d-flex flex-lg-row flex-row-reverse">
                                <div>
                                    <div><p class="textcolor  text-lg-end text-start fw-bold mb-0 me-2">Data Synchronization</p></div>
                                    <div><p class=" text-wrap">Binet Gold App seamlessly synchronizes data with Points One, ensuring that information such as inventory levels, sales figures, and customer details are consistently updated across both platforms.</p></div>
                                </div>
                                <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-rotate"></i></div></div>
                            </div>
                            <div class=" d-flex flex-lg-row flex-row-reverse">
                                <div>
                                    <div><p class="textcolor text-lg-end text-start fw-bold mb-0 me-2">Real-Time Reporting</p></div>
                                    <div><p class=" text-wrap">By linking Binet Gold App with Points One, users can generate real-time reports that reflect the most current data from both systems, providing accurate insights for decision-making.</p></div>
                                </div>
                                <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-regular fa-clock"></i></div></div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-12 align-items-center justify-content-center d-flex  "><img src="/mobileimage/Gold.png" width="200" alt="Alternate Text" /></div>
                        <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center">
                            <div class=" d-flex flex-row-reverse">
                                <div>
                                    <div><p class="textcolor fw-bold mb-0 me-2">Inventory Management</p></div>
                                    <div><p class=" text-wrap">The integration enhances inventory management by ensuring that stock levels, orders, and shipments are accurately tracked and updated across both systems, improving supply chain efficiency.</p></div>
                                </div>
                                <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-warehouse"></i></div></div>
                            </div>
                            <div class=" d-flex flex-row-reverse">
                                <div>
                                    <div><p class="textcolor  fw-bold mb-0 me-2">Customer Relationship Management (CRM)</p></div>
                                    <div><p class=" text-wrap">Integration facilitates a unified view of customer interactions and transactions, allowing for better customer service and personalized marketing efforts by syncing CRM data between Binet Gold App and Points One.</p></div>
                                </div>
                                <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-box-open"></i></div></div>
                            </div>
                            <div class=" d-flex  flex-row-reverse">
                                <div>
                                    <div><p class="textcolor  fw-bold mb-0 me-2">Financial Reconciliation</p></div>
                                    <div><p class=" text-wrap">Binet Gold App integrates with Points One to streamline financial reconciliation processes, aligning transaction records and financial data between the two systems for accurate accounting and reporting.</p></div>
                                </div>
                                <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-money-bill-trend-up"></i></div></div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="carousel-item" id="#collapseExampletwo">
                    <div class="row mt-lg-5">
                        <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center">
                            <div class=" d-flex flex-lg-row flex-row-reverse ">
                                <div>
                                    <div><p class="textcolor text-lg-end text-start fw-bold mb-0 me-2">Global Reach</p></div>
                                    <div><p class=" text-wrap">Users can connect with individuals from around the world, broadening their social network and exposing them to diverse cultures and perspectives.</p></div>
                                </div>
                                <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-earth-americas"></i></div></div>
                            </div>
                            <div class=" d-flex flex-lg-row flex-row-reverse">
                                <div>
                                    <div><p class="textcolor  text-lg-end text-start fw-bold mb-0 me-2">Anonymity Protection</p></div>
                                    <div><p class=" text-wrap"> Binet Anonymous App allows users to interact and form connections without revealing personal information, ensuring privacy and reducing the risk of online harassment or identity theft.</p></div>
                                </div>
                                <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-fingerprint"></i></div></div>
                            </div>
                            <div class=" d-flex flex-lg-row flex-row-reverse">
                                <div>
                                    <div><p class="textcolor text-lg-end text-start fw-bold mb-0 me-2">Interest-Based Matching</p></div>
                                    <div><p class=" text-wrap">The app uses algorithms to match users based on shared interests and activities, enhancing the likelihood of meaningful and enjoyable interactions.</p></div>
                                </div>
                                <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-person-circle-plus"></i></div></div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-12 align-items-center justify-content-center d-flex  "><img src="/mobileimage/Meetapp.png" width="200" alt="Alternate Text" /></div>
                        <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center">
                            <div class=" d-flex flex-row-reverse">
                                <div>
                                    <div><p class="textcolor fw-bold mb-0 me-2">Safe and Controlled Environment</p></div>
                                    <div><p class=" text-wrap">By providing features such as moderation and reporting tools, the app ensures a safe and respectful space for users to engage with new people.</p></div>
                                </div>
                                <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-user-shield"></i></div></div>
                            </div>
                            <div class=" d-flex flex-row-reverse">
                                <div>
                                    <div><p class="textcolor  fw-bold mb-0 me-2">Interactive Features</p></div>
                                    <div><p class=" text-wrap">The app includes various interactive features, such as chat rooms, virtual events, and activity challenges, which facilitate engaging and dynamic conversations.</p></div>
                                </div>
                                <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-brands fa-connectdevelop"></i></div></div>
                            </div>
                            <div class=" d-flex  flex-row-reverse">
                                <div>
                                    <div><p class="textcolor  fw-bold mb-0 me-2">Customizable Profiles</p></div>
                                    <div><p class=" text-wrap">Users can create profiles with customizable preferences and interests, helping them to find and connect with like-minded individuals more effectively.</p></div>
                                </div>
                                <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-user-pen"></i></div></div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="carousel-item" id="#collapseExamplethree">
                    <div class="row mt-lg-5">
                        <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center">
                            <div class=" d-flex flex-lg-row flex-row-reverse ">
                                <div>
                                    <div><p class="textcolor text-lg-end text-start fw-bold mb-0 me-2">Push Notification</p></div>
                                    <div><p class=" text-wrap">Figma ipsum component variant main layer. Pen component slice overflow undo variant component auto bullet.</p></div>
                                </div>
                                <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-bell"></i></div></div>
                            </div>
                            <div class=" d-flex flex-lg-row flex-row-reverse">
                                <div>
                                    <div><p class="textcolor  text-lg-end text-start fw-bold mb-0 me-2">Push Notification</p></div>
                                    <div><p class=" text-wrap">Figma ipsum component variant main layer. Pen component slice overflow undo variant component auto bullet.</p></div>
                                </div>
                                <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-bell"></i></div></div>
                            </div>
                            <div class=" d-flex flex-lg-row flex-row-reverse">
                                <div>
                                    <div><p class="textcolor text-lg-end text-start fw-bold mb-0 me-2">Push Notification</p></div>
                                    <div><p class=" text-wrap">Figma ipsum component variant main layer. Pen component slice overflow undo variant component auto bullet.</p></div>
                                </div>
                                <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-bell"></i></div></div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-12 align-items-center justify-content-center d-flex  "><img src="/mobileimage/Goldmain.png" width="200" alt="Alternate Text" /></div>
                        <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center">
                            <div class=" d-flex flex-row-reverse">
                                <div>
                                    <div><p class="textcolor fw-bold mb-0 me-2">Push Notification</p></div>
                                    <div><p class=" text-wrap">Figma ipsum component variant main layer. Pen component slice overflow undo variant component auto bullet.</p></div>
                                </div>
                                <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-bell"></i></div></div>
                            </div>
                            <div class=" d-flex flex-row-reverse">
                                <div>
                                    <div><p class="textcolor  fw-bold mb-0 me-2">Push Notification</p></div>
                                    <div><p class=" text-wrap">Figma ipsum component variant main layer. Pen component slice overflow undo variant component auto bullet.</p></div>
                                </div>
                                <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-bell"></i></div></div>
                            </div>
                            <div class=" d-flex  flex-row-reverse">
                                <div>
                                    <div><p class="textcolor  fw-bold mb-0 me-2">Push Notification</p></div>
                                    <div><p class=" text-wrap">Figma ipsum component variant main layer. Pen component slice overflow undo variant component auto bullet.</p></div>
                                </div>
                                <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-bell"></i></div></div>
                            </div>
                        </div>

                    </div>
                </div>
               
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>



        <div class="d-flex justify-content-center align-items-center">
            <a asp-action="Invest" class="investbutton py-1 my-5 px-5">
                Invest
            </a>
        </div>
    </div> *@
      

</div>


<div class="mt-lg-5 slide-top">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="row w-75 mb-5 ">
                <h2 class="featurette-heading text-center textcolor fs-1"> Our Work: <span class="text-muted"> Ongoing & Completed</span></h2>

                <p class="text-center">
                    Explore our diverse in-house projects, showcasing both ongoing innovations and completed successes.
                </p>
            </div>
            <div class="row w-75 ">
              
                
            </div>
            <div id="Customactive" class=" d-flex justify-content-center align-items-center flex-row textcolor fw-bold ">

              
                <ul class="nav nav-tabs justify-content-center" role="tablist" id="activebtn">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link textcolor active" data-bs-toggle="tab" href="#pills-gold" role="tab">Binet Gold App</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link textcolor" data-bs-toggle="tab" href="#pills-mart" role="tab"> Nepal Mart </a>
                    </li>

                    <li class="nav-item" role="presentation">
                        <a class="nav-link textcolor" data-bs-toggle="tab" href="#pills-fenegosida" role="tab">fenegosida</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link textcolor" data-bs-toggle="tab" href="#pills-stock" role="tab"> Stock Management </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link textcolor" data-bs-toggle="tab" href="#pills-accounting" role="tab"> Accounting Software</a>
                    </li>
                   
                    <li class="nav-item" role="presentation">
                        <a class="nav-link textcolor" data-bs-toggle="tab" href="#pills-Numerology" role="tab"> Numerology App </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link textcolor" data-bs-toggle="tab" href="#pills-anynomous" role="tab"> Anynomouse Social Networking </a>
                    </li>
           
                   
                </ul>
            </div>
          
        </div>
        


     
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-gold" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="bg-white">
                    <p class="text-center text-warning pt-5">
                        Binet Gold App is complete Gold ERP Software.
                    </p>
                    <div class=" d-flex algin-items-center justify-content-center">
                        <div class="container row mt-lg-5  ">
                            <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center">
                                <div class=" d-flex flex-lg-row flex-row-reverse ">
                                    <div>
                                        <div><p class="textcolor text-lg-end text-end fw-bold mb-0 me-2">Automated Workflow</p></div>
                                        <div><p class=" text-wrap justifytext ">Integration allows for the automation of various workflows, reducing manual data entry and minimizing errors. For example, sales orders processed in Points One can automatically generate corresponding entries in the Binet Gold App.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-gears"></i></div></div>
                                </div>
                                <div class=" d-flex flex-lg-row flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor  text-lg-end text-end fw-bold mb-0 me-2">Data Synchronization</p></div>
                                        <div><p class=" text-wrap justifytext">Binet Gold App seamlessly synchronizes data with Points One, ensuring that information such as inventory levels, sales figures, and customer details are consistently updated across both platforms.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-rotate"></i></div></div>
                                </div>
                                <div class=" d-flex flex-lg-row flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor text-lg-end text-end fw-bold mb-0 me-2">Real-Time Reporting</p></div>
                                        <div><p class=" text-wrap justifytext">By linking Binet Gold App with Points One, users can generate real-time reports that reflect the most current data from both systems, providing accurate insights for decision-making.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-regular fa-clock"></i></div></div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-12 align-items-center justify-content-evenly d-flex flex-column ">
                                <img src="/mobileimage/gold.webp" class="coverimage" style="width:100%;" alt="Alternate Text" />
                                <div class="d-flex justify-content-center align-items-center ">
                                    <a asp-action="Invest" class=" py-1 mt-5 my-5 px-5 fs-5 investbuttoninv">
                                        Explore
                                    </a>
                                </div>
                                
                            </div>
                            <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center">
                                <div class=" d-flex flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor fw-bold mb-0 me-2">Inventory Management</p></div>
                                        <div><p class=" text-wrap justifytext">The integration enhances inventory management by ensuring that stock levels, orders, and shipments are accurately tracked and updated across both systems, improving supply chain efficiency.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-warehouse"></i></div></div>
                                </div>
                                <div class=" d-flex flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor  fw-bold mb-0 me-2">Customer Relationship Management (CRM)</p></div>
                                        <div><p class=" text-wrap justifytext">Integration facilitates a unified view of customer interactions and transactions, allowing for better customer service and personalized marketing efforts by syncing CRM data between Binet Gold App and Points One.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-box-open"></i></div></div>
                                </div>
                                <div class=" d-flex  flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor  fw-bold mb-0 me-2">Financial Reconciliation</p></div>
                                        <div><p class=" text-wrap justifytext">Binet Gold App integrates with Points One to streamline financial reconciliation processes, aligning transaction records and financial data between the two systems for accurate accounting and reporting.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-money-bill-trend-up"></i></div></div>
                                </div>
                            </div>

                        </div>

                    </div>


                  
                </div>
            </div>
            <div class="tab-pane fade" id="pills-accounting" role="tabpanel" aria-labelledby="pills-contact-tab">
                <div class="bg-white">
                    <p class="text-center text-warning pt-5">
                        Binet Accounting Software is complete Accounting Software
                    </p>
                    <div class=" d-flex algin-items-center justify-content-center">
                        <div class="container row mt-lg-5  ">
                            <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center">
                                <div class=" d-flex flex-lg-row flex-row-reverse ">
                                    <div>
                                        <div><p class="textcolor text-lg-end text-end fw-bold mb-0 me-2">Financial Reporting</p></div>
                                        <div><p class=" text-wrap justifytext ">We offer customizable reports, including balance sheets, profit and loss statements, and cash flow statements. Our reporting tools allow users to generate detailed insights with various filters and criteria to better understand their financial health</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-gears"></i></div></div>
                                </div>
                                <div class=" d-flex flex-lg-row flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor  text-lg-end text-end fw-bold mb-0 me-2">Automated Expense Tracking</p></div>
                                        <div><p class=" text-wrap justifytext">We provide seamless expense tracking by integrating with bank accounts and credit cards. Users can automatically categorize expenses, upload receipts, and manage spending effortlessly, ensuring accurate and up-to-date financial records.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-rotate"></i></div></div>
                                </div>
                                <div class=" d-flex flex-lg-row flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor text-lg-end text-end fw-bold mb-0 me-2">Efficient Invoicing and Billing</p></div>
                                        <div>
                                            <p class=" text-wrap justifytext">
                                                We simplify the invoicing process with tools for creating professional invoices, automating billing cycles, and sending payment reminders. Our app supports multiple currencies and payment gateways, making it easy to handle international transactions.

                                            </p>
                                        </div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-regular fa-clock"></i></div></div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-12 align-items-center justify-content-center d-flex flex-column  "><img src="/mobileimage/Accounting.webp" class="coverimage" style="width:100%;" alt="Alternate Text" />
                                <div class="d-flex justify-content-center align-items-center ">
                                    <a asp-action="Invest" class=" py-1 mt-5 my-5 px-5 fs-5 investbuttoninv">
                                        Explore
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center">
                                <div class=" d-flex flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor fw-bold mb-0 me-2">Real-Time Bank Reconciliation</p></div>
                                        <div><p class=" text-wrap justifytext">We streamline the bank reconciliation process with real-time syncing of bank transactions. Any discrepancies are automatically highlighted, allowing for quick resolution and ensuring accuracy in your financial records.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-warehouse"></i></div></div>
                                </div>
                                <div class=" d-flex flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor  fw-bold mb-0 me-2">Comprehensive Inventory Management</p></div>
                                        <div><p class=" text-wrap justifytext">We offer robust inventory management features, including tracking stock levels, managing multiple locations, and generating detailed inventory reports. Users can also efficiently handle orders and supplier information through our app.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-box-open"></i></div></div>
                                </div>
                                <div class=" d-flex  flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor  fw-bold mb-0 me-2">Collaborative Workspace</p></div>
                                        <div><p class=" text-wrap justifytext">We provide a collaborative environment where multiple users can access and work on financial data simultaneously. Roles and permissions can be customized, allowing team members to collaborate effectively while maintaining control over sensitive information.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-money-bill-trend-up"></i></div></div>
                                </div>
                            </div>

                        </div>

                    </div>


                    
                </div>
            </div>
            <div class="tab-pane fade" id="pills-fenegosida" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="bg-white">
                    <p class="text-center text-warning pt-5">
                        Federation of Nepal Gold and Silver Dealers Association Software
                    </p>
                    <div class=" d-flex algin-items-center justify-content-center">
                        <div class="container row mt-lg-5  ">
                            <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center">
                                <div class=" d-flex flex-lg-row flex-row-reverse ">
                                    <div>
                                      
                                        <div><p class="textcolor text-lg-end text-end fw-bold mb-0 me-2">Centralized Member Management</p></div>
                                        <div>
                                            <p class=" text-wrap justifytext ">
                                                The software centralizes member data management, allowing the Federation to efficiently oversee and update information across all member districts, ensuring accuracy and consistency.

                                            </p>
                                        </div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-gears"></i></div></div>
                                </div>
                                <div class=" d-flex flex-lg-row flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor  text-lg-end text-end fw-bold mb-0 me-2">Enhanced Communication and Collaboration</p></div>
                                        <div>
                                            <p class=" text-wrap justifytext">
                                                It streamlines communication between the Federation and member districts, facilitating the distribution of important updates, policies, and notices, fostering better collaboration and information flow.
                                            </p>
                                        </div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-rotate"></i></div></div>
                                </div>
                                <div class=" d-flex flex-lg-row flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor text-lg-end text-end fw-bold mb-0 me-2">Automated Administrative Processes</p></div>
                                        <div>
                                            <p class=" text-wrap justifytext">
                                                By automating administrative tasks such as membership renewals and fee collections, the software reduces manual workload and errors, enabling both the Federation and districts to focus on more strategic tasks.
                                            </p>
                                        </div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-regular fa-clock"></i></div></div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-12 align-items-center justify-content-center d-flex flex-column "><img src="/mobileimage/fenegosida.webp" class="coverimage" style="width:100%;" alt="Alternate Text" />
                                <div class="d-flex justify-content-center align-items-center ">
                                    <a asp-action="Invest" class=" py-1 mt-5 my-5 px-5 fs-5 investbuttoninv">
                                        Explore
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center">
                                <div class=" d-flex flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor fw-bold mb-0 me-2">Real-Time Gold Rate Updates</p></div>
                                        <div><p class=" text-wrap justifytext">The system provides direct, real-time updates on gold rates to all members via the mobile app, ensuring they have access to the latest market information to make informed decisions.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-warehouse"></i></div></div>
                                </div>
                                <div class=" d-flex flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor  fw-bold mb-0 me-2">Notice Publishing and Alerts</p></div>
                                        <div>
                                            <p class=" text-wrap justifytext">
                                                The Federation can publish important notices and updates directly through the mobile app, ensuring that all members receive timely information about critical changes, events, or alerts.

                                            </p>
                                        </div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-box-open"></i></div></div>
                                </div>
                                <div class=" d-flex  flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor  fw-bold mb-0 me-2">Comprehensive Reporting and Analytics</p></div>
                                        <div><p class=" text-wrap justifytext">The software offers robust reporting and analytics tools, allowing the Federation to monitor performance across districts, track trends, and make data-driven decisions to enhance overall efficiency and member support.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-money-bill-trend-up"></i></div></div>
                                </div>
                            </div>

                        </div>

                    </div>


                   
                </div>
            </div>
            <div class="tab-pane fade" id="pills-stock" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="bg-white">
                    <p class="text-center text-warning pt-5">
                       Binet Stock Management can manage stock.
                    </p>
                    <div class=" d-flex algin-items-center justify-content-center">
                        <div class="container row mt-lg-5  ">
                            <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center">
                                <div class=" d-flex flex-lg-row flex-row-reverse ">
                                    <div>
                                        <div><p class="textcolor text-lg-end text-end fw-bold mb-0 me-2">Automated Reorder Alerts</p></div>
                                        <div><p class=" text-wrap justifytext ">Notify when stock levels fall below predefined thresholds, helping you maintain optimal inventory levels and prevent stockouts.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-gears"></i></div></div>
                                </div>
                                <div class=" d-flex flex-lg-row flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor  text-lg-end text-end fw-bold mb-0 me-2">Comprehensive Product Catalog</p></div>
                                        <div><p class=" text-wrap justifytext">Allows you to manage detailed product information, including descriptions, images, barcodes, and pricing, for easy reference and efficient inventory management.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-rotate"></i></div></div>
                                </div>
                                <div class=" d-flex flex-lg-row flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor text-lg-end text-end fw-bold mb-0 me-2">Real-Time Inventory Tracking</p></div>
                                        <div><p class=" text-wrap justifytext">Provides up-to-date information on stock levels across multiple locations, ensuring accurate monitoring of inventory status and availability.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-regular fa-clock"></i></div></div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-12 align-items-center justify-content-center d-flex flex-column "><img src="/mobileimage/stock.webp" class="coverimage" style="width:100%;" alt="Alternate Text" />
                                <div class="d-flex justify-content-center align-items-center ">
                                    <a asp-action="Invest" class=" py-1 mt-5 my-5 px-5 fs-5 investbuttoninv">
                                        Explore
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center">
                                <div class=" d-flex flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor fw-bold mb-0 me-2">Mobile Inventory Management</p></div>
                                        <div>
                                            <p class=" text-wrap justifytext">
                                                Provides mobile access through a dedicated app, enabling users to manage inventory, update stock levels, and process transactions on-the-go from smartphones or tablets.

                                            </p>
                                        </div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-warehouse"></i></div></div>
                                </div>
                                <div class=" d-flex flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor  fw-bold mb-0 me-2">Order Management</p></div>
                                        <div><p class=" text-wrap justifytext">Tracks and manages customer orders and purchase orders, integrating with sales channels to streamline order processing and fulfillment.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-box-open"></i></div></div>
                                </div>
                                <div class=" d-flex  flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor  fw-bold mb-0 me-2">Stock Valuation and Reporting</p></div>
                                        <div><p class=" text-wrap justifytext">Generates reports on stock valuation, cost of goods sold (COGS), and inventory turnover rates, offering insights into inventory performance and financial impact.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-money-bill-trend-up"></i></div></div>
                                </div>
                            </div>

                        </div>

                    </div>


                 
                </div>
            </div>
            <div class="tab-pane fade" id="pills-mart" role="tabpanel" aria-labelledby="pills-contact-tab">
                <div class="bg-white">
                    <p class="text-center text-warning pt-5">
                        Nepal mart is complete solution for Agricultural Product management .
                    </p>
                    <div class=" d-flex algin-items-center justify-content-center">
                        <div class="container row mt-lg-5  ">
                            <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center">
                                <div class=" d-flex flex-lg-row flex-row-reverse ">
                                    <div>
                                        <div><p class="textcolor text-lg-end text-end fw-bold mb-0 me-2">Streamlined Inventory Management</p></div>
                                        <div>
                                            <p class=" text-wrap justifytext ">
                                                Farmers can easily track their stock levels, monitor product expiration dates, and manage their supplies efficiently. This reduces waste and ensures that they always have the necessary resources on hand.
                                            </p>
                                        </div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-gears"></i></div></div>
                                </div>
                                <div class=" d-flex flex-lg-row flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor  text-lg-end text-end fw-bold mb-0 me-2">Direct Access to Markets</p></div>
                                        <div>
                                            <p class=" text-wrap justifytext">
                                                The e-commerce platform allows farmers to sell their produce directly to consumers, bypassing middlemen. This increases their profit margins and provides them with a broader market reach.
                                            </p>
                                        </div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-rotate"></i></div></div>
                                </div>
                                <div class=" d-flex flex-lg-row flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor text-lg-end text-end fw-bold mb-0 me-2">Data-Driven Decision Making</p></div>
                                        <div><p class=" text-wrap justifytext">The system provides farmers with real-time data on market trends, demand, and pricing. This empowers them to make informed decisions about what to produce and when to sell, optimizing their income.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-regular fa-clock"></i></div></div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-12 align-items-center justify-content-center d-flex flex-column  "><img src="/mobileimage/mart.png" class="coverimage" style="width:100%;" alt="Alternate Text" />
                                <div class="d-flex justify-content-center align-items-center ">
                                    <a asp-action="Invest" class=" py-1 mt-5 my-5 px-5 fs-5 investbuttoninv">
                                        Explore
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center">
                                <div class=" d-flex flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor fw-bold mb-0 me-2">Scalable Business Model</p></div>
                                        <div>
                                            <p class=" text-wrap justifytext">
                                                The system is designed to accommodate growth, making it an attractive investment. As more farmers and consumers join the platform, the potential for revenue increases significantly.
                                            </p>
                                        </div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-warehouse"></i></div></div>
                                </div>
                                <div class=" d-flex flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor  fw-bold mb-0 me-2">Technological Innovation</p></div>
                                        <div>
                                            <p class=" text-wrap justifytext">
                                                Investing in this system positions you at the forefront of agricultural technology, a sector that is increasingly gaining attention and importance. This can lead to substantial returns as the industry evolves.
                                            </p>
                                        </div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-box-open"></i></div></div>
                                </div>
                                <div class=" d-flex  flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor  fw-bold mb-0 me-2">Sustainable Impact</p></div>
                                        <div><p class=" text-wrap justifytext">Supporting this system promotes sustainable farming practices and enhances food security, aligning with global trends toward sustainability. This not only drives profitability but also contributes to positive social and environmental outcomes.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-money-bill-trend-up"></i></div></div>
                                </div>
                            </div>

                        </div>

                    </div>


                   
                </div>
            </div>
            <div class="tab-pane fade" id="pills-Numerology" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="bg-white">
                    <p class="text-center text-warning pt-5">
                        Numerology is Future prediciton App.
                    </p>
                    <div class=" d-flex algin-items-center justify-content-center">
                        <div class="container row mt-lg-5  ">
                            <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center">
                                <div class=" d-flex flex-lg-row flex-row-reverse ">
                                    <div>
                                        <div><p class="textcolor text-lg-end text-end fw-bold mb-0 me-2">Data-Driven Personalization</p></div>
                                        <div>
                                            <p class=" text-wrap justifytext ">
                                                The app offers highly personalized numerology readings and insights, leveraging user data to provide tailored experiences. This customization increases user engagement and retention, driving long-term value for investors.
                                            </p>
                                        </div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-gears"></i></div></div>
                                </div>
                                <div class=" d-flex flex-lg-row flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor  text-lg-end text-end fw-bold mb-0 me-2">Scalable User Base</p></div>
                                        <div>
                                            <p class=" text-wrap justifytext">
                                                Numerology appeals to a global audience interested in self-improvement and spiritual guidance. The app can quickly scale to millions of users, creating a vast market with minimal geographic limitations.
                                            </p>
                                        </div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-rotate"></i></div></div>
                                </div>
                                <div class=" d-flex flex-lg-row flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor text-lg-end text-end fw-bold mb-0 me-2">Recurring Revenue Model</p></div>
                                        <div>
                                            <p class=" text-wrap justifytext">
                                                With premium features, subscription services, and in-app purchases, the app can generate consistent, recurring revenue. This monetization strategy ensures a steady cash flow and high return on investment.
                                            </p>
                                        </div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-regular fa-clock"></i></div></div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-12 align-items-center justify-content-center d-flex flex-column  "><img src="/mobileimage/tst.png" width="200" alt="Alternate Text" />
                                <div class="d-flex justify-content-center align-items-center ">
                                    <a asp-action="Invest" class=" py-1 mt-5 my-5 px-5 fs-5 investbuttoninv">
                                        Explore
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center">
                                <div class=" d-flex flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor fw-bold mb-0 me-2">High User Engagement</p></div>
                                        <div>
                                            <p class=" text-wrap justifytext">
                                                Daily readings, personalized forecasts, and interactive features keep users returning to the app, creating a loyal customer base. High user engagement translates to increased revenue opportunities and a strong competitive advantage.
                                            </p>
                                        </div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-warehouse"></i></div></div>
                                </div>
                                <div class=" d-flex flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor  fw-bold mb-0 me-2">Cross-Selling Opportunities</p></div>
                                        <div>
                                            <p class=" text-wrap justifytext">
                                                The app can integrate with related services, such as wellness, meditation, and lifestyle products, offering cross-selling opportunities that further enhance revenue potential and market reach.
                                            </p>
                                        </div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-box-open"></i></div></div>
                                </div>
                                <div class=" d-flex  flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor  fw-bold mb-0 me-2">Market Trend Alignment</p></div>
                                        <div><p class=" text-wrap justifytext">The growing interest in wellness, self-care, and spirituality aligns perfectly with the app's offerings. By capitalizing on these trends, the app is positioned for rapid growth and market dominance, making it an attractive opportunity for investors.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-money-bill-trend-up"></i></div></div>
                                </div>
                            </div>

                        </div>

                    </div>


                   
                </div>
            </div>
            <div class="tab-pane fade" id="pills-anynomous" role="tabpanel" aria-labelledby="pills-contact-tab">
                <div class="bg-white">
                    <p class="text-center text-warning pt-5">
                        Social media app.
                    </p>
                    <div class=" d-flex algin-items-center justify-content-center">
                        <div class="container row mt-lg-5  ">
                            <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center">
                                <div class=" d-flex flex-lg-row flex-row-reverse ">
                                    <div>
                                        <div><p class="textcolor text-lg-end text-end fw-bold mb-0 me-2">True Anonymity</p></div>
                                        <div>
                                            <p class=" text-wrap justifytext ">
                                                Empower users to share their thoughts, opinions, and experiences without fear of judgment or exposure. This creates a safe space for honest and open conversations, where users can express themselves freely.
                                            </p>
                                        </div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-gears"></i></div></div>
                                </div>
                                <div class=" d-flex flex-lg-row flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor  text-lg-end text-end fw-bold mb-0 me-2">Local Community Engagement</p></div>
                                        <div><p class=" text-wrap justifytext">Connect with nearby users through localized posts and discussions, fostering a strong sense of community. By engaging with people in the same area, users can build relationships and address local issues together.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-rotate"></i></div></div>
                                </div>
                                <div class=" d-flex flex-lg-row flex-row-reverse">
                                    <div>
                                        <div>
                                            <p class="textcolor text-lg-end text-end fw-bold mb-0 me-2">
                                                Exciting Random Interactions
                                            </p>
                                        </div>
                                        <div>
                                            <p class=" text-wrap justifytext">
                                                Meet new people through random video chats and text interactions, adding an element of surprise and excitement to social media. These spontaneous connections make socializing more dynamic and fun.
                                            </p>
                                        </div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-regular fa-clock"></i></div></div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-12 align-items-center justify-content-center d-flex flex-column  "><img src="/mobileimage/Anynomous.png" class="coverimage" style="width:100%;" alt="Alternate Text" />
                                <div class="d-flex justify-content-center align-items-center ">
                                    <a asp-action="Invest" class=" py-1 mt-5 my-5 px-5 fs-5 investbuttoninv">
                                        Explore
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-12 d-flex flex-column align-items-center justify-content-center">
                                <div class=" d-flex flex-row-reverse">
                                    <div>
                                        <div>
                                            <p class="textcolor fw-bold mb-0 me-2">
                                                Live Stage Performances
                                            </p>
                                        </div>
                                        <div>
                                            <p class=" text-wrap justifytext">
                                                Host or join live events where users can perform, entertain, or simply enjoy real-time performances. This feature turns the app into a virtual stage, bringing people together for shared entertainment experiences.
                                            </p>
                                        </div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-warehouse"></i></div></div>
                                </div>
                                <div class=" d-flex flex-row-reverse">
                                    <div>
                                        <div><p class="textcolor  fw-bold mb-0 me-2">Safe and Secure Environment</p></div>
                                        <div>
                                            <p class=" text-wrap justifytext">
                                                Prioritize privacy and safety with robust security features that protect user anonymity and data. This ensures a respectful and protected environment, allowing users to interact with confidence.
                                            </p>
                                        </div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-box-open"></i></div></div>
                                </div>
                                <div class=" d-flex  flex-row-reverse">
                                    <div>
                                        <div>
                                            <p class="textcolor  fw-bold mb-0 me-2">
                                                Innovative Social Experience
                                            </p>
                                        </div>
                                        <div><p class=" text-wrap justifytext">Stand out with a unique blend of anonymity, local interaction, and entertainment features. This app redefines social media by offering a platform where users can connect, share, and entertain in new and exciting ways.</p></div>
                                    </div>
                                    <div> <div style="height:35px; width:35px; " class="text-white primarycolor rounded-circle d-flex justify-content-center align-items-center"><i class="fa-solid fa-money-bill-trend-up"></i></div></div>
                                </div>
                            </div>

                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
    
<script type="text/javascript">
    function datasend(id) {
        $.ajax({
            url: '@Url.Action("Activeint", "Home")',
            type: 'GET',
            data: { id: id },
            success: function (response) {
                console.log(response);
                var returndata = response;

            },
            error: function (xhr, status, error) {
                $('#result').html('<p>Error occurred: ' + error + '</p>');
            }
        });
    }
</script>

@* style load  *@
@* Bundling *@
@* differ parshing *@
@* lazy loading  --- image*@
</section>