

@* form seciton *@
<div style="height:100px;"></div>
<div class="container mt-5">
    <div class="row">
      
        @* Gallary Section *@

        <div class="container" style="width:80dvw; height:fit-content;">
            <div class="lightbox" data-mdb-lightbox-init>
                <div class="row">
                    <div class="col-lg-7">
                        <div class="job_details_header shadow-sm">
                            <div class="single_jobs white-bg d-flex justify-content-between p-3 border rounded">
                                <div class="jobs_left d-flex align-items-center">
                                    <div class="thumb me-3">
                                        <img src="img/svg_icon/1.svg" alt="" class="img-fluid">
                                    </div>
                                    <div class="jobs_content">
                                        <h2 class="featurette-heading text-center py-5 slide-top"> <span class="text-muted" id="title"></span></h2>

                                    </div>
                                </div>
                                <div class="jobs_right">
                                    <div class="apply_now">
                                        <a class="heart_mark" href="#"><i class="ti-heart text-success"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="descript_wrap white-bg mt-4 p-3 border rounded shadow-sm">
                            <div class="single_wrap mb-3 slide-top">
                                <div id="txt"></div>
                                <p id="content">
                               </p>
                                </div>
                            <div class="single_wrap mb-3 slide-top">
                                <h4>Why to Invest?</h4>
                                <ul>
                                    <li id="whyinvestcontent"></li>
                             
                                </ul>
                            </div>
                            <div class="single_wrap mb-3 slide-top">
                                <h4>What We Return ?</h4>
                                <ul>
                                    <li id="whatreturncontent"></li>
                                </ul>
                            </div>
                            <div class="single_wrap slide-top">
                                <h4>Benefits</h4>
                                

                                <ul>
                                    <li id="benefitcontent"></li>
                                </ul>

                            </div>
                        </div>
                        <div class="apply_job_form white-bg mt-4 p-3 border rounded shadow-sm slide-top">
                            <h4>Apply for Invest</h4>
                            @{
                                Html.RenderPartial("~/Views/jobApplies/Investorapply.cshtml");
                            }
                        </div>
                    </div>
                    <div class="col-lg-5">
                           <div id="picone"></div>
                        <div id="pictwo"></div>
                        <div id="picthree"></div>
                      
                    </div>
        
                </div>
            </div>
        </div>

    
    </div>
</div>

<script>

    var content = {
        "sections": [
            {
                "title": "Binet Gold App",
                "content": "Binet Gold App seamlessly synchronizes data with Points One, ensuring that information such as inventory levels, sales figures, and customer details are consistently updated across both platforms.",
                "whyinvestcontent": "Investing in the Binet Gold App provides several benefits, including reduced manual data entry and improved accuracy with synchronized data. Potential increases in sales and cost savings from reduced errors, enhanced customer service through up-to-date details, and streamlined operations with real-time data synchronization are significant advantages. Additionally, improved decision-making with data-driven insights and enhanced reporting capabilities contribute to a competitive advantage and increased customer satisfaction.",
                "whatreturncontent": "The Binet Gold App offers several key returns: Efficiency Gains include reduced manual data entry and improved accuracy through automated synchronization. Financial Gains involve increased sales due to enhanced data insights and cost savings from reduced manual data management. Customer Insights are enhanced with better customer service from updated details and improved marketing from more accurate customer data.",
                "benefitcontent": "The Binet Gold App, when integrated with Points One, delivers substantial benefits. Streamlined Operations are achieved through seamless integration and error reduction, leading to smoother processes. Improved Decision-Making is facilitated by data-driven insights and enhanced reporting capabilities. Competitive Advantage is gained through agility in response times and an enhanced ability to meet customer needs, resulting in greater satisfaction and loyalty.",
                "imageslist": [
                    {
                        "src": "/investscreenshots/binetlogin.webp",
                        "alt": "Binet Login Screen"
                    },
                    {
                        "src": "/investscreenshots/Binetthree.webp",
                        "alt": "Binet Three View"
                    },
                    {
                        "src": "/investscreenshots/binettwo.webp",
                        "alt": "Binet Two View"
                    }
                ]
            },
            {
                "title": "Nepal Mart",
                "content": "The system provides farmers with real-time data on market trends, demand, and pricing. This empowers them to make informed decisions about what to produce and when to sell, optimizing their income.",
                "whyinvestcontent": "The e-commerce platform allows farmers to sell their produce directly to consumers, bypassing middlemen. This increases their profit margins and provides them with a broader market reach.",
                "whatreturncontent": "The system is designed to accommodate growth, making it an attractive investment. As more farmers and consumers join the platform, the potential for revenue increases significantly. ",
                "benefitcontent": "Investing in this system positions you at the forefront of agricultural technology, a sector that is increasingly gaining attention and importance. This can lead to substantial returns as the industry evolves.",
                "imageslist": [
                    
                    {
                        "src": "/investscreenshots/mart.png",
                        "alt": "Nepal Mart"
                    },
                    {
                        "src": "/investscreenshots/nepalmart.png",
                        "alt": "Nepal Mart"
                    },
                    {
                        "src": "/investscreenshots/",
                        "alt": ""
                    }
                ]
            },
            {
                "title": "Fenegosida",
                "content": "The software centralizes member data management, allowing the Federation to efficiently oversee and update information across all member districts, ensuring accuracy and consistency.",
                "whyinvestcontent": "It streamlines communication between the Federation and member districts, facilitating the distribution of important updates, policies, and notices, fostering better collaboration and information flow.",
                "whatreturncontent": "The software offers robust reporting and analytics tools, allowing the Federation to monitor performance across districts, track trends, and make data-driven decisions to enhance overall efficiency and member support. ",
                "benefitcontent": "The Federation can publish important notices and updates directly through the mobile app, ensuring that all members receive timely information about critical changes, events, or alerts.",
                "imageslist": [
                    {
                        "src": "/investscreenshots/fenegosida.png",
                        "alt": "fenegosida"
                    },
                    {
                        "src": "/investscreenshots/fenegosidatwo.png",
                        "alt": "fenegosida"
                    },
                    {
                        "src": "/investscreenshots/GoldRate.png",
                        "alt": "fenegosida"
                    }
                ]
            },
            {
                "title": "Stock Management",
                "content": "It Allows you to manage detailed product information, including descriptions, images, barcodes, and pricing, for easy reference and efficient inventory management.",
                "whyinvestcontent": "This Provides up-to-date information on stock levels across multiple locations, ensuring accurate monitoring of inventory status and availability.",
                "whatreturncontent": "Stock Management App can Generates reports on stock valuation, cost of goods sold (COGS), and inventory turnover rates, offering insights into inventory performance and financial impact.",
                "benefitcontent": "It can Tracks and manages customer orders and purchase orders, integrating with sales channels to streamline order processing and fulfillment.",
                "imageslist": [
                    {
                        "src": "/investscreenshots/stock.png",
                        "alt": "stock"
                    },
                    {
                        "src": "/investscreenshots/stocktwo.jpg",
                        "alt": "stock"
                    },
                    {
                        "src": "/investscreenshots/stockthree.jpg",
                        "alt": "stock"
                    }
                ]
            },
            {
                "title": "Accounting Software",
                "content": "We offer customizable reports, including balance sheets, profit and loss statements, and cash flow statements. Our reporting tools allow users to generate detailed insights with various filters and criteria to better understand their financial health",
                "whyinvestcontent": "We simplify the invoicing process with tools for creating professional invoices, automating billing cycles, and sending payment reminders. Our app supports multiple currencies and payment gateways, making it easy to handle international transactions.",
                "whatreturncontent": "We offer robust inventory management features, including tracking stock levels, managing multiple locations, and generating detailed inventory reports. Users can also efficiently handle orders and supplier information through our app.",
                "benefitcontent": "We streamline the bank reconciliation process with real-time syncing of bank transactions. Any discrepancies are automatically highlighted, allowing for quick resolution and ensuring accuracy in your financial records.",
                "imageslist": [
                    {
                        "src": "/investscreenshots/Accounting.png",
                        "alt": "accounting"
                    },
                    {
                        "src": "/investscreenshots/accountingthree.jpg",
                        "alt": "accounting"
                    },
                    {
                        "src": "/investscreenshots",
                        "alt": ""
                    },
                  
                ]
            },
            {
                "title": "Numerology App",
                "content": "The app offers highly personalized numerology readings and insights, leveraging user data to provide tailored experiences. This customization increases user engagement and retention, driving long-term value for investors.",
                "whyinvestcontent": "The app can integrate with related services, such as wellness, meditation, and lifestyle products, offering cross-selling opportunities that further enhance revenue potential and market reach.",
                "whatreturncontent": "The growing interest in wellness, self-care, and spirituality aligns perfectly with the app's offerings. By capitalizing on these trends, the app is positioned for rapid growth and market dominance, making it an attractive opportunity for investors.",
                "benefitcontent": "This can daily readings, personalized forecasts, and interactive features keep users returning to the app, creating a loyal customer base. High user engagement translates to increased revenue opportunities and a strong competitive advantage.",
                "imageslist": [
                    {
                        "src": "/investscreenshots/Numerology.png",
                        "alt": "Numerology"
                    },
                    {
                        "src": "/investscreenshots",
                        "alt": ""
                    },
                    {
                        "src": "/investscreenshots",
                        "alt": ""
                    }
                   
                ]
            },
            {
                "title": "Anynomous Social Networking",
                "content": "This Empower users to share their thoughts, opinions, and experiences without fear of judgment or exposure. This creates a safe space for honest and open conversations, where users can express themselves freely.",
                "whyinvestcontent": "We can meet new people through random video chats and text interactions, adding an element of surprise and excitement to social media. These spontaneous connections make socializing more dynamic and fun",
                "whatreturncontent": "This can Stand out with a unique blend of anonymity, local interaction, and entertainment features. This app redefines social media by offering a platform where users can connect, share, and entertain in new and exciting ways.",
                "benefitcontent": "We connect with nearby users through localized posts and discussions, fostering a strong sense of community. By engaging with people in the same area, users can build relationships and address local issues together.",
                "imageslist": [
                    {
                        "src": "/investscreenshots/Anynomous.png",
                        "alt": ""
                    },
                    {
                        "src": "/investscreenshots/socialone.png",
                        "alt": "Social Networking"
                    },
                    {
                        "src": "/investscreenshots/socialtwo.png",
                        "alt": "Social Networking"
                    }
                    
                   
                ]
            }
            
        ]
    };
    const productid = window.location.pathname.split('/').pop(); 
    console.log('Item ID:', productid);


    document.getElementById("title").innerText = content.sections[productid].title;
    document.getElementById("content").innerText = content.sections[productid].content
    document.getElementById("whyinvestcontent").innerText = content.sections[productid].whyinvestcontent;
    document.getElementById("whatreturncontent").innerText = content.sections[productid].whatreturncontent;
    document.getElementById("benefitcontent").innerText = content.sections[productid].benefitcontent;

    // Use the image source from the content object
    var imgSrc0 = content.sections[productid].imageslist[0].src;  // Directly access 'src'
    var imgSrc1 = content.sections[productid].imageslist[1].src;  // Directly access 'src'
    var imgSrc2 = content.sections[productid].imageslist[2].src;  // Directly access 'src'

    // Update the innerHTML of the element with id "pic1"
    document.getElementById("picone").innerHTML = `
            <img src="${imgSrc0}"
                
                 alt="${content.sections[productid].imageslist[0].alt}"
                 class="w-100 mb-2 mb-md-4 shadow-1-strong rounded" />
        `;
    document.getElementById("pictwo").innerHTML = `
                <img src="${imgSrc1}"

                     alt="${content.sections[productid].imageslist[1].alt}"
                     class="w-100 mb-2 mb-md-4 shadow-1-strong rounded" />
            `;
    document.getElementById("picthree").innerHTML = `
                <img src="${imgSrc2}"

                     alt="${content.sections[productid].imageslist[2].alt}"
                     class="w-100 mb-2 mb-md-4 shadow-1-strong rounded" />
            `;
          
</script>