

@* form seciton *@
<div style="height:100px;"></div>
<div class="container mt-5">
    <div class="row">
      
        @* Gallary Section *@

        <div class="container" style="width:80dvw; height:fit-content;">
            <div class="lightbox" data-mdb-lightbox-init>
                <div class="row">
                    <div class="col-lg-7">
                        <div class="job_details_header shadow-sm">
                            <div class="single_jobs white-bg d-flex justify-content-between p-3 border rounded">
                                <div class="jobs_left d-flex align-items-center">
                                    <div class="thumb me-3">
                                        <img src="img/svg_icon/1.svg" alt="" class="img-fluid">
                                    </div>
                                    <div class="jobs_content">
                                        <h2 class="featurette-heading text-center py-5 slide-top"> <span class="text-muted" id="title"></span></h2>

                                    </div>
                                </div>
                                <div class="jobs_right">
                                    <div class="apply_now">
                                        <a class="heart_mark" href="#"><i class="ti-heart text-success"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="descript_wrap white-bg mt-4 p-3 border rounded shadow-sm">
                            <div class="single_wrap mb-3 slide-top">
                                <div id="txt"></div>
                                <p id="content">
                               </p>
                                </div>
                            <div class="single_wrap mb-3 slide-top">
                                <h4>Why to Invest?</h4>
                                <ul>
                                    <li id="whyinvestcontent"></li>
                             
                                </ul>
                            </div>
                            <div class="single_wrap mb-3 slide-top">
                                <h4>What We Return ?</h4>
                                <ul>
                                    <li id="whatreturncontent"></li>
                                </ul>
                            </div>
                            <div class="single_wrap slide-top">
                                <h4>Benefits</h4>
                                

                                <ul>
                                    <li id="benefitcontent"></li>
                                </ul>

                            </div>
                        </div>
                        <div class="apply_job_form white-bg mt-4 p-3 border rounded shadow-sm slide-top">
                            <h4>Apply for Invest</h4>
                            @{
                                Html.RenderPartial("~/Views/jobApplies/Investorapply.cshtml");
                            }
                        </div>
                    </div>
                    <div class="col-lg-5">
                           <div id="picone"></div>
                        <div id="pictwo"></div>
                        <div id="picthree"></div>
                      
                    </div>
        
                </div>
            </div>
        </div>

    
    </div>
</div>

<script>

    var content = {
        "sections": [
            {
                "title": "Binet Gold App",
                "content": "Binet Gold App seamlessly synchronizes data with Points One, ensuring that information such as inventory levels, sales figures, and customer details are consistently updated across both platforms.",
                "whyinvestcontent": "Investing in the Binet Gold App provides several benefits, including reduced manual data entry and improved accuracy with synchronized data. Potential increases in sales and cost savings from reduced errors, enhanced customer service through up-to-date details, and streamlined operations with real-time data synchronization are significant advantages. Additionally, improved decision-making with data-driven insights and enhanced reporting capabilities contribute to a competitive advantage and increased customer satisfaction.",
                "whatreturncontent": "The Binet Gold App offers several key returns: Efficiency Gains include reduced manual data entry and improved accuracy through automated synchronization. Financial Gains involve increased sales due to enhanced data insights and cost savings from reduced manual data management. Customer Insights are enhanced with better customer service from updated details and improved marketing from more accurate customer data.",
                "benefitcontent": "The Binet Gold App, when integrated with Points One, delivers substantial benefits. Streamlined Operations are achieved through seamless integration and error reduction, leading to smoother processes. Improved Decision-Making is facilitated by data-driven insights and enhanced reporting capabilities. Competitive Advantage is gained through agility in response times and an enhanced ability to meet customer needs, resulting in greater satisfaction and loyalty.",
                "imageslist": [
                    {
                        "src": "/investscreenshots/binetlogin.webp",
                        "alt": "Binet Login Screen"
                    },
                    {
                        "src": "/investscreenshots/Binetthree.webp",
                        "alt": "Binet Three View"
                    },
                    {
                        "src": "/investscreenshots/binettwo.webp",
                        "alt": "Binet Two View"
                    }
                ]
            }
        ]
    };
    const productid = window.location.pathname.split('/').pop(); 
    console.log('Item ID:', productid);


    document.getElementById("title").innerText = content.sections[productid].title;
    document.getElementById("content").innerText = content.sections[productid].content
    document.getElementById("whyinvestcontent").innerText = content.sections[productid].whyinvestcontent;
    document.getElementById("whatreturncontent").innerText = content.sections[productid].whatreturncontent;
    document.getElementById("benefitcontent").innerText = content.sections[productid].benefitcontent;

    // Use the image source from the content object
    var imgSrc0 = content.sections[productid].imageslist[0].src;  // Directly access 'src'
    var imgSrc1 = content.sections[productid].imageslist[1].src;  // Directly access 'src'
    var imgSrc2 = content.sections[productid].imageslist[2].src;  // Directly access 'src'

    // Update the innerHTML of the element with id "pic1"
    document.getElementById("picone").innerHTML = `
            <img src="${imgSrc0}"
                
                 alt="${content.sections[productid].imageslist[0].alt}"
                 class="w-100 mb-2 mb-md-4 shadow-1-strong rounded" />
        `;
    document.getElementById("pictwo").innerHTML = `
                <img src="${imgSrc1}"

                     alt="${content.sections[productid].imageslist[1].alt}"
                     class="w-100 mb-2 mb-md-4 shadow-1-strong rounded" />
            `;
    document.getElementById("picthree").innerHTML = `
                <img src="${imgSrc2}"

                     alt="${content.sections[productid].imageslist[2].alt}"
                     class="w-100 mb-2 mb-md-4 shadow-1-strong rounded" />
            `;
          
</script>