
@* Readmore *@
<!-- Modal -->
@* Research *@
<div class="modal fade" id="exampleModalone" tabindex="-1" aria-labelledby="exampleModaloneLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Research & Development</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mt-2">
                <p>
                    Our R&D team is at the forefront of technological advancements, constantly exploring new ideas and methodologies to create groundbreaking mobile applications. We focus on: <br />
                    <strong>•   Innovative Solutions:</strong> Developing unique app concepts that address real-world problems.<br />
                    <strong>•	Cutting-Edge Technology:</strong> Leveraging the latest tools and technologies to stay ahead of the curve.<br />
                    <strong>•	User-Centric Research:</strong> Conduct thorough market and user research to ensure our apps meet the needs and preferences of our target audience.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
@* Software Development *@
<div class="modal fade" id="exampleModaltwo" tabindex="-1" aria-labelledby="exampleModaltwoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Software Development</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mt-2">
                <p>
                    Our software development team brings your ideas to life with precision and expertise. We offer:<br />
                    <strong>•	Custom App Development:</strong> Creating tailor-made applications that align with your business goals.<br />
                    <strong>•	Cross-Platform Development:</strong> Ensuring your app performs seamlessly on both iOS and Android devices.<br />
                    <strong>•	Quality Assurance:</strong> Conducting rigorous testing to deliver a flawless user experience.

                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
@* Marketing *@
<div class="modal fade" id="exampleModalthree" tabindex="-1" aria-labelledby="exampleModalthreeLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Marketing </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mt-2">
                <p>
                    We help you reach your target audience and maximize your app’s potential with our comprehensive marketing services. Our offerings include: <br />
                    <strong>•	App Store Optimization (ASO):</strong> Enhancing your app’s visibility and ranking in app stores.<br />
                    <strong>•	Digital Marketing Campaigns:</strong> Crafting targeted campaigns to drive downloads and user engagement.<br />
                    <strong>•	Social Media Promotion:</strong> Leveraging social media platforms to create buzz and build a loyal user base.

                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

