@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@* Our Services *@
<section id="service">
<div class="container " >
        <h2 class="featurette-heading text-center textcolor display-5"> Our <span class="text-muted">Services</span></h2>
    <div class="row slide-top">
        <div class="row-lg-12 row">
            <div class="col-lg-6 col-12 d-flex flex-column justify-content-center align-items-center">
                <div>
                    <p class="fw-bold textcolor text-start h4">Binet Technologies Services</p>
                    <p>At Binet Tech, we are dedicated to providing top-notch services that drive innovation and success. Our expertise spans across three main areas: </p>
                    <p> </p>

                </div>

            </div>
            <div class="col-lg-6 col-12 d-flex justify-content-center align-items-center">
                <img src="/logo//ourserviceimage.png" alt="Alternate Text" />
            </div>
        </div>
        <div class="row-lg-12">
        </div>
    </div>


</div>

</section>