@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="vw-100 bg-white py-2 mt-5">
<div class="container mt-5">
    <div class="col featurette align-items-center">
        <div class="col-md-12 d-flex flex-column justify-content-center slide-top">
                <h2 class="featurette-heading text-center textcolor display-5"> Techonlogy <span class="text-muted">Used</span></h2>
            <div class="row align-items-center d-flex justify-content-center"> <p class="lead col-md-7 text-center">We specialize in developing mobile applications, software solutions, and websites using a range of technologies including ASP.NET, MAUI, C#, and React JS.</p></div>
        </div>
        <div class="col-md-12 d-flex justify-content-center align-items-center slide-top  ">
            @*
            For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
            *@
            @{
            }
           
            <div class="logopic technologyimg">
                <div class="row  d-flex justify-content-center align-items-center">
                    <div class="col-lg-4 mt-md-4 mt-4 col-md-4 col-md-6 col-6 d-flex justify-content-center align-items-center "><img src="~/Technologyused/angular.png" alt="Alternate Text" /></div>
                    <div class="col-lg-4 mt-md-4 mt-4 col-md-4 col-md-6 col-6 d-flex justify-content-center align-items-center "><img src="~/Technologyused/Asp.netcore.png" alt="Alternate Text" /></div>
                    <div class="col-lg-4 mt-md-4 mt-4 col-md-4 col-md-6 col-6 d-flex justify-content-center align-items-center "><img src="~/Technologyused/mysql.png" alt="Alternate Text" /></div>
                </div>
                <div class="row  d-flex justify-content-center align-items-center">
                    <div class="col-lg-4 mt-md-4 mt-4 col-md-4 col-md-6 col-6 d-flex justify-content-center align-items-center "><img src="~/Technologyused/blazor.png" alt="Alternate Text" /></div>
                    <div class="col-lg-4 mt-md-4 mt-4 col-md-4 col-md-6 col-6 d-flex justify-content-center align-items-center "><img src="~/Technologyused/bootstrap.png" alt="Alternate Text" /></div>
                    <div class="col-lg-4 mt-md-4 mt-4 col-md-4 col-md-6 col-6 d-flex justify-content-center align-items-center "><img src="~/Technologyused/csharp.png" alt="Alternate Text" /></div>
                </div>
                <div class="row  d-flex justify-content-center align-items-center" >
                    <div class="col-lg-3 mt-md-4 mt-4 col-md-3 col-md-6 col-6 d-flex justify-content-center align-items-center "><img src="~/Technologyused/cloudnative.png"  alt="Alternate Text" /></div>
                    <div class="col-lg-3 mt-md-4 mt-4 col-md-3 col-md-6 col-6 d-flex justify-content-center align-items-center "><img src="~/Technologyused/css.png" alt="Alternate Text" /></div>
                    <div class="col-lg-3 mt-md-4 mt-4 col-md-3 col-md-6 col-6 d-flex justify-content-center align-items-center "><img src="~/Technologyused/html.png"  alt="Alternate Text" /></div>
                    <div class="col-lg-3 mt-md-4 mt-4 col-md-3 col-md-6 col-6 d-flex justify-content-center align-items-center "><img src="~/Technologyused/js.png"  alt="Alternate Text" /></div>
                </div>
                <div class="row  d-flex justify-content-center align-items-center" >
                    <div class="col-lg-4 mt-md-4 mt-4 col-md-4 col-md-6 col-6 d-flex justify-content-center align-items-center "><img src="~/Technologyused/mongodb.webp"  alt="Alternate Text" /></div>
                    <div class="col-lg-4 mt-md-4 mt-4 col-md-4 col-md-6 col-6 d-flex justify-content-center align-items-center "><img src="~/Technologyused/azure.png"  alt="Alternate Text" /></div>
                    <div class="col-lg-4 mt-md-4 mt-4 col-md-4 col-md-6 col-6 d-flex justify-content-center align-items-center "><img src="~/Technologyused/postgre.png"  alt="Alternate Text" /></div>
                </div>
                <div class="row  d-flex justify-content-center align-items-center" >
                    <div class="col-lg-4 mt-md-4 mt-4 col-md-4 col-md-6 col-6 d-flex justify-content-center align-items-center "><img src="~/Technologyused/react.webp"  alt="Alternate Text" /></div>
                    <div class="col-lg-4 mt-md-4 mt-4 col-md-4 col-md-6 col-6 d-flex justify-content-center align-items-center "><img src="~/Technologyused/tailwind.png"  alt="Alternate Text" /></div>
                    <div class="col-lg-4 mt-md-4 mt-4 col-md-4 col-md-6 col-6 d-flex justify-content-center align-items-center "><img src="~/Technologyused/what-is-net-maui.png"  alt="Alternate Text" /></div>
                </div>
            </div>

        </div>
       
    </div>
</div>
</div>