@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@* Testimonials *@
@* 
<div class="container ">
    <div>
        <h1 class="text-center mt-lg-5 textcolor fw-bolder">Testimonial</h1>
        <p class="text-center">Lorem ipsum dolor sit amet consectetur. At pulvinar sed ut id interdum.</p>
    </div>

    <div class="row">
        <div class="col-md-6 col-lg-6 col-12">
            <div class="d-flex flex-row justify-content-center align-items-center gap-2">
                <div class="d-flex flex-row align-items-center justify-content-center gap-2 bg-white py-1 px-3 rounded-3">
                    <img class="rounded-circle mb-2" height="35" width="35" src="/logo/testmonialimg.jpeg" alt="Alternate Text" />
                    <div>
                        <h4 class="textcolor mb-0">Mr. Samir Shrestha</h4>
                        <p>Co Founder of ABC</p>
                    </div>
                </div>

                <div style="width:2px; height:50px " class="primarycolor "></div>

            </div>
            <div class="d-flex flex-row justify-content-center align-items-center gap-2">
                <div class="d-flex flex-row align-items-center justify-content-center gap-2 bg-white py-1 px-3 rounded-3">
                    <img class="rounded-circle mb-2" height="35" width="35" src="/logo/testmonialimg.jpeg" alt="Alternate Text" />
                    <div>
                        <h4 class="textcolor mb-0">Mr. Samir Shrestha</h4>
                        <p>Co Founder of ABC</p>
                    </div>
                </div>

                <div style="width:2px; height:50px " class="primarycolor "></div>

            </div>

        </div>
        <div class="col-md-6 col-lg-6 col-12">
            <h4>It was an excellent experience!</h4>

            <p><img width="20" src="/logo/star.png" alt="Alternate Text" /><img width="20" src="/logo/star.png" alt="Alternate Text" /><img width="20" src="/logo/star.png" alt="Alternate Text" /><img width="20" src="/logo/star.png" alt="Alternate Text" /><img width="20" src="/logo/star.png" alt="Alternate Text" /></p>
            <p>Lorem ipsum dolor sit amet consectetur. Consectetur eros sed viverra lectus. Cursus risus aliquam convallis ultrices lorem purus volutpat. Ornare massa vitae feugiat elementum. Ullamcorper massa vel velit tincidunt</p>
        </div>
    </div>
</div>
 *@
<section id="testimonial">
    <h2 class="featurette-heading text-center py-5 slide-top textcolor display-5"> Testimonial <span class="text-muted"></span></h2>
<div id="myCarousel " class="container-fluid px-lg-5 px-md-4 px-0 carousel slide pointer-event slide-top" data-bs-ride="carousel">
    <!-- Carousel indicators -->
    @* <ol class="carousel-indicators">
        <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
    </ol> *@
    <!-- Wrapper for carousel items -->
    <div class="carousel-inner mt-2">
        <div class="carousel-item ">
            <div class="row gap-3 justify-content-center align-items-center">
                    <div class="col-sm-5 rounded-2 bg-white ps-3 pe-3 py-3  testomonialhover" style="height:190px;">
                        <div class="row">
                            <div class="col-4 d-flex align-items-center justify-content-center"><img class=" mb-2  " style="width:fit-content; height:100px;" src="/Trustedcompany/digital.png" alt="Alternate Text" /></div>

                            <div class="testimonial-wrapper col-8">
                                <div class="testimonial"><p class="justifytext">We’ve begun working on several things and look forward to a lasting and positive relationship. Together, we can achieve our goals effectively.</p></div>
                                <div class="media">
                                    <div class="media-body">
                                        <div class="overview">
                                            <div class="name"><b>Mr. Askash Subedi</b></div>
                                            <div class="details textcolor fw-bold">Digital Yeti / CEO</div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 rounded-2 bg-white ps-3 pe-3 py-3  testomonialhover" style="height:190px;">
                        <div class="row">
                            <div class="col-4 d-flex align-items-center justify-content-center"><img class=" mb-2  " style="width:fit-content; height:100px;" src="/Trustedcompany/thirdeye.png" alt="Alternate Text" /></div>

                            <div class="testimonial-wrapper col-8">
                                <div class="testimonial"><p class="justifytext">We’ve started many projects and are excited about building a strong, long-term partnership. We believe this will bring great results for both sides.</p></div>
                                <div class="media">
                                    <div class="media-body">
                                        <div class="overview">
                                            <div class="name"><b>Mr.Susil pariyar</b></div>
                                            <div class="details fw-bold textcolor">Third Eye / proprietor </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="carousel-item active">
            <div class="row gap-3 justify-content-center align-items-center">
                    <div class="col-sm-5 rounded-2 bg-white ps-3 pe-3 py-3  testomonialhover" style="height:190px;">
                        <div class="row">
                            <div class="col-4 d-flex align-items-center justify-content-center"><img class=" mb-2  " style="width:fit-content; height:100px;" src="/Trustedcompany/logo.png" alt="Alternate Text" /></div>

                            <div class="testimonial-wrapper col-8">
                                <div class="testimonial"><p class="justifytext">We’re working on a lot of projects and are eager to create a lasting and successful collaboration. We’re confident that our partnership will be fruitful.</p></div>
                                <div class="media">
                                    <div class="media-body">
                                        <div class="overview">
                                            <div class="name"><b>Mr.</b></div>
                                            <div class="details textcolor fw-bold">Prema Sai Jewellers / proprietor</div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 rounded-2 bg-white ps-3 pe-3 py-3  testomonialhover" style="height:190px;">
                        <div class="row">
                            <div class="col-4 d-flex align-items-center justify-content-center"><img class=" mb-2  " style="width:fit-content; height:100px;" src="/Trustedcompany/fenegosida.png" alt="Alternate Text" /></div>

                            <div class="testimonial-wrapper col-8">
                                <div class="testimonial"><p class="justifytext">We had working on many projects in few years .We have embarked on numerous projects and are committed to building a promising long-term relationship.</p></div>
                                <div class="media">
                                    <div class="media-body">
                                        <div class="overview">
                                            <div class="name"><b>Mr.Arjun Rasaily</b></div>
                                            <div class="details textcolor fw-bold">FENEGOSIDA President</div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
       
      
    </div>
   </div>

</section>